In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
df = pd.read_feather('../data/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.feather')
df

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1.0,10321418.0,45,3.0,3891.965283,3.0,0.0,0.0,0.0,1.00,...,1.0,4.0,5.0,1.0,99.0,30.0,95982.822967,1.0,4.0,1.0
1,1.0,10414574.0,15,2.0,10616.561549,2.0,0.0,0.0,0.0,1.00,...,2.0,2.0,15.0,1.0,2.0,30.0,130702.351368,1.0,3.0,1.0
2,1.0,10134567.0,48,2.0,23527.655416,0.0,2.0,0.0,0.0,0.00,...,1.0,3.0,11.0,1.0,3.0,30.0,112010.611717,0.0,4.0,1.0
3,1.0,10001003.0,48,9.0,17751.558260,7.0,2.0,0.0,0.0,0.75,...,2.0,3.0,11.0,1.0,2.0,30.0,59701.507360,0.0,3.0,1.0
4,1.0,10267183.0,2,1.0,21701.307598,1.0,0.0,0.0,0.0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,NaN,0.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32975649,24.0,10062431.0,15,9.0,8762.298856,0.0,9.0,0.0,0.0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1.0
32975650,24.0,10062431.0,21,1.0,14209.220918,0.0,1.0,0.0,0.0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1.0
32975651,24.0,10062431.0,other,1.0,6651.116446,0.0,1.0,0.0,0.0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1.0
32975652,24.0,10062431.0,36,22.0,8150.818314,22.0,0.0,0.0,0.0,1.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1.0
32975653,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [3]:
df['dt'].min(),df['dt'].max()

(1.0, 24.0)

# 嘗試建立模型 
# 訓練集是 X = dt[1~22] Y = dt[23] 
# 測試集是 X = dt[2~23] Y = dt[24]

# 由於過去消費排名 不一定等於未來消費排名 (例如 人如果結婚了 升遷了 換工作了 遍有錢了都會導致消費型態的改變)

# 因此除了考慮過去消費排名可能還要加入其他特徵

In [4]:
other_features = ['masts', #婚姻
'educd', #教育
'trdtp', #行業別
'naty', # 國籍
'poscd', # 職位別
'cuorg', #客戶來源
'slam', #正卡信用額度
'gender_code', #信別
'age', #年紀
'primary_card', #正附卡註記
]

# 這裡的想法是上面特徵都會影響一個人的消費行為
# 例如正卡信用額度大的人 可能會在"奢侈品"上花很多錢 
# 或者年紀大的人可能會在"保健食品"上花很多錢
# 由於 上面這些特徵都會"隨時間改變" 因此只須"考慮離測試數據最接近的狀態"就好

In [5]:
df_sorted = df.sort_values(by='dt') # 考慮離測試數據最接近的狀態
chid_mapping = {}
for fname in tqdm(['slam','age']):
    chid_mapping[fname] = dict(zip(df_sorted['chid'],df_sorted[fname])) # chid到"特徵"的映射
chid_mapping['age']

100%|██████████| 2/2 [00:16<00:00,  8.48s/it]

{10321418.0: 4.0,
 10221236.0: 4.0,
 10023248.0: 3.0,
 10158504.0: 5.0,
 10442254.0: 5.0,
 10439008.0: 3.0,
 10143172.0: 5.0,
 10437736.0: 5.0,
 10218164.0: 5.0,
 10137616.0: 5.0,
 10205476.0: 5.0,
 10317914.0: 4.0,
 10209075.0: 5.0,
 10259075.0: 6.0,
 10385447.0: 7.0,
 10280827.0: 3.0,
 10255286.0: 4.0,
 10214189.0: 3.0,
 10250518.0: 3.0,
 10003931.0: 3.0,
 10490670.0: 3.0,
 10035298.0: 4.0,
 10273961.0: 4.0,
 10442158.0: 4.0,
 10003925.0: 3.0,
 10019878.0: 5.0,
 10082260.0: 4.0,
 10292430.0: 8.0,
 10141825.0: 5.0,
 10127255.0: 6.0,
 10184390.0: 5.0,
 10389484.0: 4.0,
 10438215.0: 5.0,
 10232793.0: 2.0,
 10211489.0: 4.0,
 10275313.0: 3.0,
 10488331.0: 5.0,
 10262058.0: 3.0,
 10156968.0: 3.0,
 10289942.0: 3.0,
 10106841.0: 3.0,
 10137542.0: 5.0,
 10002480.0: 5.0,
 10328172.0: 6.0,
 10114364.0: 2.0,
 10144624.0: 4.0,
 10123419.0: 4.0,
 10306732.0: 7.0,
 10384292.0: 5.0,
 10131507.0: 4.0,
 10358482.0: 2.0,
 10328323.0: 4.0,
 10479418.0: 4.0,
 10078621.0: 3.0,
 10299185.0: 6.0,
 10090666.0: 4.0,
 10189331.0: 3.0,
 10449633.0: 4.0,
 10483206.0: 5.0,
 10116594.0: 4.0,
 10414431.0: 5.0,
 10430640.0: 6.0,
 10050375.0: 3.0,
 10475182.0: 5.0,
 10315900.0: 6.0,
 10277752.0: 3.0,
 10258044.0: 5.0,
 10103875.0: 4.0,
 10036125.0: 4.0,
 10056978.0: 4.0,
 10356688.0: 4.0,
 10349420.0: 4.0,
 10223266.0: 4.0,
 10205576.0: 3.0,
 10324502.0: 3.0,
 10005794.0: 6.0,
 10460932.0: 2.0,
 10413245.0: 3.0,
 10093382.0: 3.0,
 10139358.0: 3.0,
 10426073.0: 3.0,
 10345748.0: 3.0,
 10207881.0: 4.0,
 10497521.0: 5.0,
 10355446.0: 2.0,
 10315718.0: 5.0,
 10226560.0: 4.0,
 10219023.0: 3.0,
 10143052.0: 6.0,
 10306622.0: 4.0,
 10268487.0: 4.0,
 10225903.0: 5.0,
 10206703.0: 3.0,
 10490119.0: 3.0,
 10326523.0: 6.0,
 10424796.0: 5.0,
 10085030.0: 5.0,
 10381273.0: 6.0,
 10119764.0: 4.0,
 10106720.0: 4.0,
 10002547.0: 2.0,
 10300563.0: 4.0,
 10164693.0: 3.0,
 10415482.0: 6.0,
 10163550.0: 7.0,
 10089424.0: 3.0,
 10120657.0: 4.0,
 10183723.0: 4.0,
 10154633.0: 5.0,
 10133537.0: 4.0,
 10249861.0: 4.0,
 10451361.0: 2.0,
 10469398.0: 5.0,
 10009989.0: 5.0,
 10421912.0: 5.0,
 10022718.0: 5.0,
 10398159.0: 5.0,
 10325733.0: 4.0,
 10344706.0: 4.0,
 10438566.0: 6.0,
 10131821.0: 4.0,
 10011460.0: 3.0,
 10409022.0: 4.0,
 10279070.0: 2.0,
 10052265.0: 4.0,
 10185447.0: 4.0,
 10341647.0: 2.0,
 10170642.0: 3.0,
 10086322.0: 4.0,
 10158594.0: 3.0,
 10093302.0: 3.0,
 10309967.0: 3.0,
 10188101.0: 2.0,
 10144744.0: 3.0,
 10153624.0: 6.0,
 10295463.0: 5.0,
 10341270.0: 6.0,
 10232605.0: 5.0,
 10133739.0: 3.0,
 10293301.0: 5.0,
 10443008.0: 3.0,
 10053074.0: 3.0,
 10431074.0: 4.0,
 10298578.0: 4.0,
 10443582.0: 3.0,
 10109518.0: 6.0,
 10472518.0: 4.0,
 10304314.0: 4.0,
 10304266.0: 5.0,
 10176760.0: 6.0,
 10324583.0: 3.0,
 10403635.0: 3.0,
 10264424.0: 3.0,
 10295854.0: 3.0,
 10055081.0: 3.0,
 10484425.0: 5.0,
 10420646.0: 3.0,
 10165078.0: 4.0,
 10026945.0: 5.0,
 10036087.0: 5.0,
 10301460.0: 3.0,
 10049533.0: 5.0,
 10139080.0: 4.0,
 10498354.0: 6.0,
 10414972.0: 7.0,
 10417304.0: 4.0,
 10217305.0: 3.0,
 10067521.0: 6.0,
 10296845.0: 2.0,
 10057202.0: 4.0,
 10261987.0: 4.0,
 10254405.0: 6.0,
 10112956.0: 3.0,
 10325801.0: 5.0,
 10057924.0: 5.0,
 10101497.0: 4.0,
 10368301.0: 4.0,
 10431445.0: 4.0,
 10136784.0: 3.0,
 10067667.0: 4.0,
 10465712.0: 3.0,
 10056468.0: 4.0,
 10354793.0: 4.0,
 10173266.0: 3.0,
 10249992.0: 3.0,
 10082295.0: 4.0,
 10043814.0: 2.0,
 10123197.0: 5.0,
 10282840.0: 6.0,
 10006760.0: 4.0,
 10319485.0: 4.0,
 10104825.0: 4.0,
 10445724.0: 4.0,
 10114755.0: 5.0,
 10195733.0: 5.0,
 10149907.0: 3.0,
 10039366.0: 5.0,
 10316303.0: 4.0,
 10454692.0: 4.0,
 10472964.0: 4.0,
 10467348.0: 3.0,
 10397805.0: nan,
 10133565.0: 4.0,
 10079404.0: 4.0,
 10271129.0: 4.0,
 10383430.0: 5.0,
 10232804.0: 2.0,
 10093875.0: 7.0,
 10221163.0: 3.0,
 10351985.0: 4.0,
 10312074.0: 5.0,
 10155965.0: 6.0,
 10498574.0: 5.0,
 10334046.0: 2.0,
 10006704.0: 3.0,
 10328848.0: 4.0,
 10399668.0: 4.0,
 10102149.0: 3.0,
 10304821.0: 5.0,
 10107574.0: 6.0,
 10042207.0: 3.0,
 10277336.0: 4.0,
 10113866.0: 3.0,
 10265284.0: 6.0,
 10493980.0: 6.0,
 10447865.0: 6.0,
 10373153.0: 6.0,
 10263685.0: 4.0,
 10223163.0: 4.0,
 10163316.0: 3.0,
 10238860.0: 5.0,
 10057673.0: 2.0,
 10292471.0: 4.0,
 10463154.0: 6.0,
 10448087.0: 6.0,
 10353033.0: 3.0,
 10015987.0: 4.0,
 10328589.0: nan,
 10021793.0: 5.0,
 10088962.0: 3.0,
 10068905.0: 4.0,
 10391758.0: 3.0,
 10249624.0: 3.0,
 10323816.0: 4.0,
 10478768.0: 4.0,
 10444231.0: 4.0,
 10373731.0: 5.0,
 10277834.0: 3.0,
 10135470.0: 6.0,
 10002756.0: 4.0,
 10210778.0: 5.0,
 10225608.0: 3.0,
 10322651.0: 6.0,
 10083778.0: 3.0,
 10458643.0: 4.0,
 10045356.0: 2.0,
 10321647.0: 4.0,
 10197681.0: 3.0,
 10132348.0: 5.0,
 10312249.0: 3.0,
 10482678.0: 4.0,
 10370594.0: 3.0,
 10130242.0: 3.0,
 10290449.0: 3.0,
 10479732.0: 4.0,
 10061024.0: 2.0,
 10498630.0: 5.0,
 10051561.0: 3.0,
 10282531.0: 4.0,
 10220166.0: 4.0,
 10161234.0: 6.0,
 10088119.0: 6.0,
 10237274.0: 7.0,
 10133622.0: 4.0,
 10394487.0: 4.0,
 10434698.0: 5.0,
 10038764.0: 5.0,
 10416801.0: 5.0,
 10471481.0: 6.0,
 10119868.0: 5.0,
 10009587.0: 5.0,
 10380022.0: 5.0,
 10301392.0: 4.0,
 10245169.0: 4.0,
 10399867.0: 5.0,
 10035884.0: 6.0,
 10466588.0: 5.0,
 10349212.0: 5.0,
 10334742.0: 4.0,
 10159194.0: 8.0,
 10286048.0: 6.0,
 10401762.0: 4.0,
 10425999.0: 3.0,
 10086169.0: 6.0,
 10305093.0: 7.0,
 10249890.0: 5.0,
 10260240.0: 4.0,
 10273963.0: 4.0,
 10402327.0: 4.0,
 10160612.0: 6.0,
 10441020.0: 4.0,
 10209483.0: 4.0,
 10103256.0: 5.0,
 10115316.0: 7.0,
 10298737.0: 5.0,
 10027918.0: 5.0,
 10338920.0: 3.0,
 10369173.0: 3.0,
 10141771.0: 6.0,
 10483352.0: 3.0,
 10459396.0: 5.0,
 10117404.0: 6.0,
 10187087.0: 3.0,
 10491427.0: 4.0,
 10161311.0: 3.0,
 10285601.0: 4.0,
 10414679.0: 3.0,
 10273315.0: 3.0,
 10337193.0: 5.0,
 10421436.0: 2.0,
 10166377.0: 3.0,
 10201543.0: 5.0,
 10351774.0: 5.0,
 10359117.0: 4.0,
 10147908.0: 2.0,
 10000407.0: 3.0,
 10073855.0: 5.0,
 10122766.0: 5.0,
 10425347.0: 2.0,
 10103279.0: 4.0,
 10214658.0: 5.0,
 10028265.0: 5.0,
 10318709.0: 3.0,
 10188984.0: 5.0,
 10001124.0: 5.0,
 10487117.0: 6.0,
 10291994.0: 4.0,
 10470593.0: 4.0,
 10125371.0: 5.0,
 10441603.0: 6.0,
 10178577.0: 4.0,
 10366182.0: 4.0,
 10265322.0: 2.0,
 10138693.0: 4.0,
 10346118.0: 3.0,
 10171926.0: 6.0,
 10069252.0: 4.0,
 10081718.0: 4.0,
 10093086.0: 3.0,
 10061227.0: 6.0,
 10457174.0: 3.0,
 10104152.0: 5.0,
 10223250.0: 3.0,
 10447738.0: 6.0,
 10145648.0: 4.0,
 10222034.0: 2.0,
 10263310.0: 4.0,
 10075821.0: 5.0,
 10091726.0: 2.0,
 10040705.0: 4.0,
 10322828.0: 5.0,
 10163905.0: 4.0,
 10162070.0: 6.0,
 10242186.0: 3.0,
 10019950.0: 3.0,
 10019093.0: 6.0,
 10132059.0: 4.0,
 10205139.0: 6.0,
 10163119.0: 3.0,
 10257051.0: 4.0,
 10461002.0: 3.0,
 10299891.0: 3.0,
 10220111.0: 3.0,
 10499039.0: 6.0,
 10316159.0: 4.0,
 10397407.0: 4.0,
 10363538.0: 5.0,
 10130194.0: 3.0,
 10076009.0: 4.0,
 10200128.0: 5.0,
 10050219.0: 2.0,
 10127543.0: 4.0,
 10061157.0: 5.0,
 10039766.0: 4.0,
 10388775.0: 2.0,
 10165233.0: 5.0,
 10226171.0: 4.0,
 10487785.0: 6.0,
 10111663.0: 3.0,
 10232172.0: 5.0,
 10226387.0: 4.0,
 10210767.0: 3.0,
 10456667.0: 6.0,
 10045756.0: 2.0,
 10253806.0: 3.0,
 10293484.0: 4.0,
 10468925.0: 4.0,
 10312630.0: 3.0,
 10478329.0: 3.0,
 10123476.0: 6.0,
 10192332.0: 2.0,
 10327568.0: 6.0,
 10370191.0: 6.0,
 10018782.0: 3.0,
 10115130.0: 4.0,
 10066101.0: 4.0,
 10193178.0: 6.0,
 10416116.0: 4.0,
 10017318.0: 4.0,
 10383742.0: 4.0,
 10108746.0: 3.0,
 10437289.0: 2.0,
 10253698.0: 3.0,
 10074064.0: 6.0,
 10446020.0: 4.0,
 10392695.0: 4.0,
 10026669.0: 5.0,
 10349062.0: 6.0,
 10306149.0: 5.0,
 10466202.0: 6.0,
 10498182.0: 4.0,
 10193601.0: 4.0,
 10112233.0: 3.0,
 10060842.0: 5.0,
 10057232.0: 4.0,
 10062432.0: 6.0,
 10115315.0: 4.0,
 10045187.0: 3.0,
 10342335.0: 6.0,
 10316747.0: 4.0,
 10189048.0: 4.0,
 10016927.0: 3.0,
 10234944.0: 3.0,
 10284828.0: 6.0,
 10467496.0: 6.0,
 10044487.0: 3.0,
 10044470.0: 3.0,
 10402896.0: 6.0,
 10169391.0: 5.0,
 10076497.0: 2.0,
 10368338.0: 3.0,
 10052481.0: 4.0,
 10385741.0: nan,
 10478588.0: 2.0,
 10145045.0: 4.0,
 10136535.0: 5.0,
 10013555.0: 5.0,
 10485660.0: 7.0,
 10211753.0: 2.0,
 10405176.0: 4.0,
 10099274.0: 3.0,
 10343574.0: 6.0,
 10028224.0: 2.0,
 10043198.0: 2.0,
 10368357.0: 3.0,
 10204481.0: 2.0,
 10015401.0: 3.0,
 10008886.0: 5.0,
 10107723.0: 4.0,
 10270887.0: 6.0,
 10266465.0: 4.0,
 10155319.0: 5.0,
 10441828.0: 4.0,
 10239007.0: 2.0,
 10005584.0: 2.0,
 10048362.0: 3.0,
 10231157.0: 4.0,
 10287683.0: 2.0,
 10325313.0: 3.0,
 10266326.0: 3.0,
 10268389.0: 3.0,
 10116851.0: 3.0,
 10449958.0: 3.0,
 10150527.0: 3.0,
 10065717.0: 5.0,
 10388776.0: 5.0,
 10212326.0: 4.0,
 10444471.0: 7.0,
 10261791.0: 4.0,
 10070706.0: 3.0,
 10182413.0: 4.0,
 10079280.0: 3.0,
 10200042.0: 3.0,
 10442148.0: 3.0,
 10498709.0: 3.0,
 10463561.0: 3.0,
 10410762.0: 4.0,
 10116750.0: 2.0,
 10207480.0: 3.0,
 10255302.0: 4.0,
 10329424.0: 2.0,
 10160930.0: 4.0,
 10261753.0: 3.0,
 10458373.0: 3.0,
 10047084.0: 4.0,
 10298980.0: 5.0,
 10351093.0: 4.0,
 10218494.0: 3.0,
 10330620.0: 5.0,
 10219937.0: 4.0,
 10482005.0: 3.0,
 10253432.0: 4.0,
 10310986.0: 7.0,
 10004633.0: 2.0,
 10329622.0: 4.0,
 10218793.0: 4.0,
 10387658.0: 4.0,
 10049001.0: 5.0,
 10409485.0: 4.0,
 10210942.0: 3.0,
 10270596.0: 4.0,
 10087177.0: 5.0,
 10217874.0: 5.0,
 10430896.0: 4.0,
 10247411.0: 4.0,
 10222354.0: 4.0,
 10296329.0: 3.0,
 10091793.0: 4.0,
 10468860.0: 3.0,
 10155460.0: 3.0,
 10114771.0: 3.0,
 10187459.0: 5.0,
 10082540.0: 5.0,
 10356344.0: 4.0,
 10366609.0: 4.0,
 10029018.0: 3.0,
 10251047.0: 4.0,
 10127807.0: 4.0,
 10214500.0: 5.0,
 10378808.0: 3.0,
 10266213.0: 4.0,
 10306959.0: 5.0,
 10352791.0: 5.0,
 10454204.0: 2.0,
 10079023.0: 3.0,
 10257236.0: 2.0,
 10100935.0: 3.0,
 10268681.0: 4.0,
 10195180.0: 3.0,
 10262320.0: 5.0,
 10430289.0: 4.0,
 10038702.0: 2.0,
 10051866.0: 3.0,
 10197098.0: 5.0,
 10472607.0: 3.0,
 10315746.0: 4.0,
 10008230.0: 7.0,
 10024483.0: 3.0,
 10444881.0: 3.0,
 10167020.0: 6.0,
 10107214.0: 6.0,
 10435737.0: 3.0,
 10359692.0: 3.0,
 10189245.0: 4.0,
 10286366.0: 6.0,
 10218746.0: 3.0,
 10123069.0: 6.0,
 10169550.0: 4.0,
 10004457.0: 5.0,
 10307373.0: 4.0,
 10025485.0: 3.0,
 10351107.0: 6.0,
 10384053.0: 2.0,
 10007823.0: 3.0,
 10177800.0: 2.0,
 10271769.0: 2.0,
 10145892.0: 4.0,
 10109977.0: 4.0,
 10187381.0: 3.0,
 10404057.0: 6.0,
 10316260.0: 5.0,
 10158409.0: 4.0,
 10398340.0: 5.0,
 10282382.0: 4.0,
 10052288.0: 6.0,
 10013562.0: 3.0,
 10302698.0: 3.0,
 10220503.0: 2.0,
 10327170.0: 3.0,
 10254889.0: 5.0,
 10125328.0: 3.0,
 10463478.0: 7.0,
 10344732.0: 6.0,
 10032310.0: 3.0,
 10069502.0: 6.0,
 10236899.0: 5.0,
 10136675.0: 3.0,
 10235187.0: 5.0,
 10022512.0: nan,
 10400887.0: 3.0,
 10255369.0: 4.0,
 10028228.0: 4.0,
 10397650.0: 3.0,
 10256297.0: 5.0,
 10485879.0: 4.0,
 10303195.0: 3.0,
 10110439.0: 5.0,
 10178712.0: 2.0,
 10417901.0: 4.0,
 10065564.0: 3.0,
 10071558.0: 4.0,
 10324636.0: 4.0,
 10414338.0: 7.0,
 10469411.0: 4.0,
 10439367.0: 2.0,
 10133525.0: 5.0,
 10300092.0: 5.0,
 10082280.0: 3.0,
 10077955.0: 6.0,
 10396565.0: 4.0,
 10457065.0: 3.0,
 10328678.0: 3.0,
 10470689.0: 5.0,
 10429588.0: 7.0,
 10073027.0: 5.0,
 10098756.0: 4.0,
 10232360.0: 6.0,
 10413777.0: 4.0,
 10206630.0: 3.0,
 10203520.0: 4.0,
 10059549.0: 4.0,
 10160437.0: 5.0,
 10204589.0: 2.0,
 10351088.0: nan,
 10190013.0: 4.0,
 10148409.0: 3.0,
 10393346.0: 3.0,
 10470290.0: 3.0,
 10403443.0: 5.0,
 10049779.0: 3.0,
 10374276.0: 5.0,
 10314987.0: 4.0,
 10438172.0: 5.0,
 10420143.0: 6.0,
 10057325.0: 3.0,
 10468350.0: 5.0,
 10158667.0: 5.0,
 10015929.0: 3.0,
 10131483.0: 3.0,
 10141012.0: 3.0,
 10457744.0: 3.0,
 10090067.0: 5.0,
 10076114.0: 4.0,
 10043574.0: 4.0,
 10323011.0: 4.0,
 10068355.0: 6.0,
 10145477.0: 5.0,
 10149870.0: 4.0,
 10039574.0: 5.0,
 10213837.0: 3.0,
 10286757.0: 2.0,
 10124701.0: 5.0,
 10188153.0: 4.0,
 10385041.0: 3.0,
 10349672.0: 4.0,
 10410720.0: 5.0,
 10424806.0: 4.0,
 10233925.0: 3.0,
 10092504.0: 4.0,
 10059017.0: 4.0,
 10041224.0: 4.0,
 10496811.0: 6.0,
 10127506.0: 4.0,
 10271186.0: 6.0,
 10495108.0: 2.0,
 10369762.0: 6.0,
 10157999.0: 3.0,
 10345719.0: 2.0,
 10069948.0: 3.0,
 10111609.0: 5.0,
 10066315.0: 3.0,
 10002804.0: 5.0,
 10286718.0: 6.0,
 10359636.0: 3.0,
 10378608.0: 3.0,
 10024958.0: 5.0,
 10290096.0: 4.0,
 10460855.0: 4.0,
 10459862.0: 4.0,
 10063141.0: 4.0,
 10373307.0: 4.0,
 10336595.0: 5.0,
 10150803.0: 5.0,
 10301965.0: 5.0,
 10032861.0: 3.0,
 10262780.0: 4.0,
 10436913.0: 5.0,
 10285718.0: 3.0,
 10273474.0: 2.0,
 10358939.0: 7.0,
 10353657.0: 2.0,
 10196137.0: 3.0,
 10398983.0: 5.0,
 10474270.0: 3.0,
 10331324.0: 5.0,
 10378258.0: 4.0,
 10390566.0: 3.0,
 10442598.0: 3.0,
 10443908.0: 2.0,
 10157605.0: 7.0,
 10105316.0: 4.0,
 10236645.0: 4.0,
 10121237.0: 4.0,
 10223937.0: 3.0,
 10003794.0: 2.0,
 10305880.0: 3.0,
 10168750.0: 4.0,
 10261106.0: 3.0,
 10311126.0: 5.0,
 10327218.0: 4.0,
 10409321.0: 5.0,
 10119165.0: 4.0,
 10299375.0: 3.0,
 10103527.0: 5.0,
 10406692.0: 3.0,
 10078177.0: 4.0,
 10331533.0: 3.0,
 10245135.0: 4.0,
 10179442.0: 3.0,
 10432122.0: 4.0,
 10463440.0: 4.0,
 10158304.0: 2.0,
 10292306.0: 4.0,
 10110241.0: 3.0,
 10083849.0: 3.0,
 10374137.0: 4.0,
 10251190.0: 3.0,
 10219644.0: 5.0,
 10138849.0: 5.0,
 10230645.0: 5.0,
 10301665.0: 4.0,
 10372830.0: 5.0,
 10417565.0: 5.0,
 10026807.0: 5.0,
 10081864.0: 5.0,
 10226832.0: 7.0,
 10229456.0: 5.0,
 10008628.0: 5.0,
 10005759.0: 3.0,
 10248752.0: 5.0,
 10394991.0: 5.0,
 10048016.0: 6.0,
 10067003.0: 6.0,
 10368915.0: 3.0,
 10447631.0: 3.0,
 10326542.0: 5.0,
 10394623.0: 4.0,
 10168857.0: 6.0,
 10178139.0: 3.0,
 10380086.0: 4.0,
 10372054.0: 5.0,
 10387110.0: 4.0,
 10227963.0: 6.0,
 10442597.0: 3.0,
 10381213.0: 3.0,
 10222033.0: 4.0,
 10166410.0: 7.0,
 10190867.0: 5.0,
 10119597.0: 5.0,
 10192226.0: 3.0,
 10106763.0: 3.0,
 10203832.0: 4.0,
 10410609.0: 1.0,
 10078436.0: 2.0,
 10280743.0: 3.0,
 10384550.0: 2.0,
 10199332.0: 4.0,
 10148954.0: 4.0,
 10214213.0: 3.0,
 10073225.0: 3.0,
 10208819.0: 3.0,
 10152656.0: 4.0,
 10059568.0: 5.0,
 10188245.0: 5.0,
 10326378.0: 3.0,
 10108979.0: 3.0,
 10428933.0: 8.0,
 10076112.0: 4.0,
 10433712.0: 5.0,
 10212704.0: 3.0,
 10364085.0: 6.0,
 10006124.0: 4.0,
 10441935.0: 4.0,
 10439256.0: 3.0,
 10305152.0: 5.0,
 10470055.0: 4.0,
 10010492.0: 4.0,
 10151922.0: 6.0,
 10229804.0: 6.0,
 10238943.0: 3.0,
 10106664.0: 4.0,
 10385445.0: 4.0,
 10287733.0: 6.0,
 10351099.0: 4.0,
 10013370.0: 6.0,
 10095303.0: 4.0,
 10362247.0: 3.0,
 10491218.0: 6.0,
 10377280.0: 5.0,
 10462411.0: 4.0,
 10136766.0: 5.0,
 10082373.0: 2.0,
 10359269.0: 6.0,
 10082010.0: 3.0,
 10329856.0: 2.0,
 10305933.0: 7.0,
 10191190.0: 6.0,
 10178231.0: 6.0,
 10083310.0: 3.0,
 10195033.0: 6.0,
 10374688.0: 5.0,
 10066729.0: 3.0,
 10111667.0: 4.0,
 10242294.0: 5.0,
 10327939.0: 3.0,
 10114371.0: 3.0,
 10051785.0: 3.0,
 10233818.0: 6.0,
 10318942.0: 6.0,
 10182139.0: 3.0,
 10096314.0: 5.0,
 10137057.0: 6.0,
 10008971.0: 4.0,
 10470008.0: 3.0,
 10259504.0: 3.0,
 10084464.0: 4.0,
 10159920.0: 5.0,
 10048200.0: 5.0,
 10001978.0: 3.0,
 10443572.0: 4.0,
 10223207.0: 3.0,
 10113273.0: 4.0,
 10173653.0: 2.0,
 10128596.0: 6.0,
 10458414.0: 4.0,
 10385683.0: 5.0,
 10389438.0: 3.0,
 10149539.0: 2.0,
 10245810.0: 6.0,
 10368530.0: 4.0,
 10095837.0: 4.0,
 10241629.0: 2.0,
 10151395.0: 3.0,
 10123442.0: 4.0,
 10102060.0: 6.0,
 10317488.0: 5.0,
 10447704.0: 2.0,
 10124129.0: 5.0,
 10054911.0: 6.0,
 10275816.0: nan,
 10410415.0: 6.0,
 10067921.0: 6.0,
 10175279.0: 5.0,
 10081214.0: 3.0,
 10379400.0: 5.0,
 10331207.0: 3.0,
 10100435.0: 6.0,
 10476332.0: 3.0,
 10181307.0: 3.0,
 10179302.0: 2.0,
 10111426.0: 5.0,
 10191742.0: 4.0,
 10497371.0: 4.0,
 10124465.0: 4.0,
 10234214.0: 3.0,
 10108883.0: 3.0,
 10308367.0: 6.0,
 10003251.0: 5.0,
 10009051.0: 4.0,
 10450916.0: 4.0,
 10045678.0: 6.0,
 10022877.0: 4.0,
 10117601.0: 5.0,
 10456895.0: 3.0,
 10068579.0: 4.0,
 10066624.0: 4.0,
 10015017.0: 2.0,
 10298347.0: 5.0,
 10193528.0: 5.0,
 10450495.0: 5.0,
 10272783.0: 4.0,
 10118145.0: 6.0,
 10006569.0: 6.0,
 10049089.0: 6.0,
 10310327.0: 3.0,
 10416708.0: 4.0,
 10240220.0: 3.0,
 10036158.0: 4.0,
 10422408.0: 2.0,
 10487147.0: 5.0,
 10021351.0: 5.0,
 10388818.0: 6.0,
 10154911.0: nan,
 10057668.0: 4.0,
 10160698.0: 2.0,
 10177730.0: 3.0,
 10337656.0: 4.0,
 10452537.0: 5.0,
 10190927.0: 4.0,
 10467941.0: 3.0,
 10124333.0: 4.0,
 10482502.0: 3.0,
 10081462.0: 3.0,
 10127263.0: 4.0,
 10291855.0: 3.0,
 10241492.0: 5.0,
 10092829.0: 4.0,
 10229572.0: 5.0,
 10286150.0: 3.0,
 10003313.0: 3.0,
 10344272.0: 5.0,
 10300427.0: 5.0,
 10103263.0: 5.0,
 10250750.0: 2.0,
 10457812.0: nan,
 10101350.0: 4.0,
 10047948.0: 4.0,
 10497836.0: 4.0,
 10213913.0: 4.0,
 10270261.0: 2.0,
 10401469.0: 3.0,
 10378057.0: 3.0,
 10066801.0: 6.0,
 10334755.0: 3.0,
 10175737.0: 6.0,
 10485253.0: 3.0,
 10116579.0: 5.0,
 10446707.0: 4.0,
 10150640.0: 6.0,
 10424013.0: 3.0,
 10156233.0: 3.0,
 10239182.0: 4.0,
 10277916.0: 5.0,
 10216160.0: 4.0,
 10071329.0: 2.0,
 10119201.0: 2.0,
 10168779.0: 4.0,
 10395768.0: 4.0,
 10403976.0: 5.0,
 10150183.0: 3.0,
 10443765.0: 3.0,
 10382246.0: 4.0,
 10422601.0: 5.0,
 10203841.0: 4.0,
 10325001.0: 3.0,
 10046330.0: 2.0,
 10445983.0: 3.0,
 10324262.0: 6.0,
 10189647.0: 3.0,
 10280370.0: 2.0,
 10020886.0: 5.0,
 10251292.0: 4.0,
 10371022.0: 5.0,
 10063967.0: 6.0,
 10200370.0: 4.0,
 10067180.0: 4.0,
 10033844.0: 3.0,
 10319731.0: 4.0,
 10369964.0: 6.0,
 10157639.0: 5.0,
 10477801.0: 3.0,
 10402606.0: 3.0,
 10310955.0: 5.0,
 10175139.0: 5.0,
 10295844.0: 5.0,
 10095725.0: 4.0,
 10058496.0: 4.0,
 10052212.0: 2.0,
 10491069.0: 4.0,
 10145686.0: 4.0,
 10099029.0: 4.0,
 10302638.0: 3.0,
 10129520.0: 5.0,
 10043200.0: 3.0,
 10422948.0: 4.0,
 10049579.0: 4.0,
 10359160.0: 5.0,
 10191342.0: 3.0,
 10173523.0: 7.0,
 10004216.0: 4.0,
 10214602.0: 4.0,
 10062349.0: 3.0,
 10133473.0: 2.0,
 10232106.0: 4.0,
 10174638.0: 7.0,
 10485700.0: 3.0,
 10455650.0: 5.0,
 10234425.0: 4.0,
 10211221.0: 4.0,
 10262446.0: 4.0,
 10062138.0: 4.0,
 10341763.0: 4.0,
 10476082.0: 4.0,
 10031428.0: 6.0,
 10471311.0: 4.0,
 10124249.0: 3.0,
 10143890.0: 7.0,
 10230315.0: 5.0,
 10188404.0: 6.0,
 10075657.0: 5.0,
 ...}

# create_x_y 函數

In [6]:
def create_x_y(df,split_dt,other_features,chid_mapping,mode='train'):
    官方指認欄位 = [2,6,10,12,13,15,18,19,21,22,25,26,36,37,39,48]
    官方指認欄位 = [str(i) for i in 官方指認欄位]
    origin_df = df
    def create_features(df,split_dt,look_back=3):
        df = df.loc[(df.dt>=split_dt-look_back)&(df.dt<=split_dt)] #根據dt做row的篩選
        df = df.pivot_table(index=['chid'], columns='shop_tag', values='txn_amt',aggfunc=np.sum).fillna(0.0) # 計算這個chid在各shop_tag的txn_amt
        df = df.loc[:,官方指認欄位] # 只取官方指認欄位
        df.columns = [ 'shop_tag_' + str(i) for i in df.columns]
        df['chid'] = df.index
        for fname in tqdm(other_features):
            df[fname] = df['chid'].apply(lambda x:chid_mapping[fname][x])
        return df
    x = create_features(df.loc[df.dt < split_dt,:],split_dt) # time = t-1 ,t-2 ... ,t-n
    y = create_features(df.loc[df.dt == split_dt,:],split_dt) # time = t
    common_index = set(x.index)&set(y.index) # 共同index
    x = x.loc[common_index]
    y = y.loc[common_index]
    print('x shape',x.shape)
    print('y shape',y.shape)
    return x,y

In [7]:
import gc
gc.collect()
locals().keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', 'os', 'sys', '_i', '_ii', '_iii', '_i1', 'pd', 'np', 'tqdm', 'df', '_1', '_i2', '_2', '_i3', '_3', '_i4', 'other_features', '_i5', 'df_sorted', 'chid_mapping', 'fname', '_5', '_i6', 'create_x_y', '_i7', 'gc'])

In [8]:
X_train, y_train = create_x_y(df,split_dt=23,other_features=['slam','age'],chid_mapping=chid_mapping,mode='train')
X_test, y_test = create_x_y(df,split_dt=24,other_features=['slam','age'],chid_mapping=chid_mapping,mode='test')

100%|██████████| 2/2 [00:00<00:00,  2.76it/s]
100%|██████████| 2/2 [00:00<00:00,  3.51it/s]

x shape (419727, 19)
y shape (419727, 19)

100%|██████████| 2/2 [00:00<00:00,  2.50it/s]
100%|██████████| 2/2 [00:00<00:00,  3.47it/s]

x shape (420732, 19)
y shape (420732, 19)

In [13]:
X_train

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,42417.770262,0.000000,76522.964200,0.0,0.000000,27966.344293,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,14042.606023,0.000000,0.000000,11900.190480,10485761.0,102382.569589,3.0
10485762.0,15958.303518,0.000000,18527.238020,0.0,24371.585109,8677.196788,3480.859743,0.000000,0.000000,0.0,0.000000,0.000000,15579.865469,8135.177708,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,45026.598289,0.000000,0.000000,0.0,0.000000,20236.239795,3324.768457,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,25698.045779,24422.463317,39934.038243,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.000000,0.000000,0.0,0.000000,10965.958583,0.000000,9277.143937,0.000000,0.0,0.000000,0.000000,0.000000,9779.293272,0.000000,0.000000,10485764.0,84815.219772,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10485754.0,0.000000,0.000000,45937.403176,0.0,0.000000,5540.285984,10801.793485,0.000000,0.000000,0.0,39157.481379,15535.733355,0.000000,17398.744988,0.000000,5773.036485,10485754.0,87397.101503,3.0
10485755.0,34509.343013,0.000000,25676.391759,0.0,9958.409338,9373.392018,0.000000,0.000000,0.000000,0.0,0.000000,4219.341890,23365.474636,7829.247010,0.000000,11922.038035,10485755.0,38072.451849,2.0
10485756.0,0.000000,25004.783761,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485756.0,86109.761716,3.0
10485757.0,53392.494920,0.000000,10663.310710,0.0,4177.897564,32513.408491,0.000000,6148.896046,25075.366933,0.0,4372.793507,56672.610234,0.000000,0.000000,0.000000,0.000000,10485757.0,74152.141012,3.0
10485759.0,72501.683150,0.000000,0.000000,0.0,0.000000,23852.322516,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,7758.126782,16207.884054,0.000000,9314.322606,10485759.0,133000.939458,3.0

In [9]:
y_train

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,0.000000,0.00000,10094.469556,0.000000,2688.055269,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,11647.892883,0.000000,0.000000,0.000000,10485761.0,102382.569589,3.0
10485762.0,11080.508913,0.00000,19347.923710,0.000000,9422.439888,7878.449264,0.000000,0.0,0.0,0.0,4404.325243,0.000000,10091.812993,0.000000,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,23260.509969,0.00000,0.000000,0.000000,0.000000,11504.412904,3900.970896,0.0,0.0,0.0,0.000000,41010.316376,0.000000,0.000000,0.000000,8019.906666,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,5773.036485,13515.952679,0.000000,0.000000,10485764.0,84815.219772,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10485754.0,0.000000,0.00000,19175.333546,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,2411.854209,0.000000,5047.854508,0.000000,0.000000,10485754.0,87397.101503,3.0
10485755.0,6922.859869,0.00000,5744.585392,6303.494132,4497.402453,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,6603.592746,0.000000,0.000000,0.000000,10485755.0,38072.451849,2.0
10485756.0,0.000000,8334.92792,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485756.0,86109.761716,3.0
10485757.0,0.000000,0.00000,10025.067317,0.000000,9621.768553,15478.797671,12225.410860,0.0,0.0,0.0,5160.074284,13622.385686,0.000000,0.000000,21339.560666,0.000000,10485757.0,74152.141012,3.0
10485759.0,8510.161680,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,442.192044,0.000000,0.000000,0.000000,10485759.0,133000.939458,3.0

In [10]:
X_test

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,12289.330042,0.000000,62643.191930,0.000000,2688.055269,22366.738610,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,24893.333242,0.000000,0.000000,11900.190480,10485761.0,102382.569589,3.0
10485762.0,27038.812431,0.000000,29267.566728,0.000000,24586.212696,16555.646052,0.000000,0.000000,0.000000,0.0,4404.325243,0.000000,23146.000680,8135.177708,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,52224.193152,0.000000,0.000000,0.000000,0.000000,22907.242157,7225.739353,0.000000,0.000000,0.0,0.000000,41010.316376,0.000000,21842.333126,7945.887166,37032.778347,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.000000,0.000000,0.000000,0.000000,9331.575338,0.000000,9277.143937,0.000000,0.0,0.000000,0.000000,5773.036485,23295.245951,0.000000,0.000000,10485764.0,84815.219772,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10485755.0,25003.263736,0.000000,31420.977151,6303.494132,9218.267691,2939.762251,0.000000,0.000000,0.000000,0.0,0.000000,4219.341890,22694.717135,0.000000,0.000000,4677.167185,10485755.0,38072.451849,2.0
10485756.0,0.000000,25004.783761,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485756.0,86109.761716,3.0
10485757.0,36788.182809,0.000000,20688.378027,0.000000,13799.666117,47992.206162,12225.410860,6148.896046,25075.366933,0.0,9532.867791,70294.995919,0.000000,0.000000,21339.560666,0.000000,10485757.0,74152.141012,3.0
10485758.0,0.000000,0.000000,0.000000,0.000000,0.000000,12044.974132,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485758.0,108906.897057,4.0
10485759.0,69020.345302,0.000000,0.000000,0.000000,0.000000,17084.303619,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,6565.935581,9514.373580,0.000000,9314.322606,10485759.0,133000.939458,3.0

In [11]:
y_test

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,0.000000,0.00000,10173.700632,0.0,0.000000,13793.154923,0.000000,0.000000,0.00000,0.0,0.0,0.0,11010.627600,0.000000,0.000000,7675.133233,10485761.0,102382.569589,3.0
10485762.0,0.000000,0.00000,0.000000,0.0,5047.854508,0.000000,0.000000,14871.761480,0.00000,0.0,0.0,0.0,5021.010171,0.000000,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,0.000000,0.00000,0.000000,0.0,0.000000,14070.404760,2753.052186,0.000000,0.00000,0.0,0.0,0.0,0.000000,4684.483372,13995.306289,5773.036485,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,6257.629931,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,10485764.0,84815.219772,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10485755.0,8998.361272,0.00000,30379.591719,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,4243.989699,0.000000,0.000000,2120.034444,10485755.0,38072.451849,2.0
10485756.0,0.000000,8334.92792,0.000000,0.0,0.000000,4292.805774,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,10485756.0,86109.761716,3.0
10485757.0,16084.241823,0.00000,0.000000,0.0,0.000000,20064.304813,13418.731765,0.000000,11997.68771,0.0,0.0,0.0,0.000000,0.000000,6308.563642,0.000000,10485757.0,74152.141012,3.0
10485758.0,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.000000,5773.036485,0.000000,0.000000,10485758.0,108906.897057,4.0
10485759.0,0.000000,0.00000,0.000000,0.0,0.000000,3115.517432,0.000000,0.000000,0.00000,0.0,0.0,0.0,5564.108061,2308.126257,0.000000,0.000000,10485759.0,133000.939458,3.0

# 由於Y應該是TOP3 這裡做一下轉換

In [14]:
def add_topk(df):
  var = np.argsort(np.array(df.values.tolist()))
  df[f'top{1}'] = var[:,-1]
  df[f'top{2}'] = var[:,-2]
  df[f'top{3}'] = var[:,-3]
  return df

In [15]:
y_train = add_topk(y_train)

In [17]:
y_train = y_train[['chid','top1','top2','top3']]
y_train

                  chid  top1  top2  top3
chid
10485760.0  10485760.0    16    17    18
10485761.0  10485761.0    16    17    12
10485762.0  10485762.0    16    17     2
10485763.0  10485763.0    16    17    11
10485764.0  10485764.0    16    17    13
...                ...   ...   ...   ...
10485754.0  10485754.0    16    17     2
10485755.0  10485755.0    16    17     0
10485756.0  10485756.0    16    17     1
10485757.0  10485757.0    16    17    14
10485759.0  10485759.0    16    17     0

[419727 rows x 4 columns]

In [18]:
y_test = add_topk(y_test)

In [19]:
y_test = y_test[['chid','top1','top2','top3']]
y_test

                  chid  top1  top2  top3
chid
10485760.0  10485760.0    16    17    18
10485761.0  10485761.0    16    17     5
10485762.0  10485762.0    16    17     7
10485763.0  10485763.0    16    17     5
10485764.0  10485764.0    16    17     7
...                ...   ...   ...   ...
10485755.0  10485755.0    16    17     2
10485756.0  10485756.0    16    17     1
10485757.0  10485757.0    16    17     5
10485758.0  10485758.0    16    17    13
10485759.0  10485759.0    16    17    12

[420732 rows x 4 columns]

In [20]:
X_train.head()

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,42417.770262,0.0,76522.96420,0.0,0.000000,27966.344293,0.000000,0.000000,0.0,0.0,0.0,0.0,14042.606023,0.000000,0.000000,11900.190480,10485761.0,102382.569589,3.0
10485762.0,15958.303518,0.0,18527.23802,0.0,24371.585109,8677.196788,3480.859743,0.000000,0.0,0.0,0.0,0.0,15579.865469,8135.177708,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,45026.598289,0.0,0.00000,0.0,0.000000,20236.239795,3324.768457,0.000000,0.0,0.0,0.0,0.0,0.000000,25698.045779,24422.463317,39934.038243,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.0,0.00000,0.0,0.000000,10965.958583,0.000000,9277.143937,0.0,0.0,0.0,0.0,0.000000,9779.293272,0.000000,0.000000,10485764.0,84815.219772,4.0

In [21]:
X_test.head()

,shop_tag_2,shop_tag_6,shop_tag_10,shop_tag_12,shop_tag_13,shop_tag_15,shop_tag_18,shop_tag_19,shop_tag_21,shop_tag_22,shop_tag_25,shop_tag_26,shop_tag_36,shop_tag_37,shop_tag_39,shop_tag_48,chid,slam,age
chid,,,,,,,,,,,,,,,,,,,
10485760.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10485760.0,102382.569589,6.0
10485761.0,12289.330042,0.0,62643.191930,0.0,2688.055269,22366.738610,0.000000,0.000000,0.0,0.0,0.000000,0.000000,24893.333242,0.000000,0.000000,11900.190480,10485761.0,102382.569589,3.0
10485762.0,27038.812431,0.0,29267.566728,0.0,24586.212696,16555.646052,0.000000,0.000000,0.0,0.0,4404.325243,0.000000,23146.000680,8135.177708,0.000000,0.000000,10485762.0,44545.625512,3.0
10485763.0,52224.193152,0.0,0.000000,0.0,0.000000,22907.242157,7225.739353,0.000000,0.0,0.0,0.000000,41010.316376,0.000000,21842.333126,7945.887166,37032.778347,10485763.0,99935.984396,4.0
10485764.0,0.000000,0.0,0.000000,0.0,0.000000,9331.575338,0.000000,9277.143937,0.0,0.0,0.000000,0.000000,5773.036485,23295.245951,0.000000,0.000000,10485764.0,84815.219772,4.0

In [25]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(419727, 19) (420732, 19)
(419727, 4) (420732, 4)

In [27]:
X_train.reset_index(drop=True).to_feather('../data/X_train.feather')
y_train.reset_index(drop=True).to_feather('../data/y_train.feather')
X_test.reset_index(drop=True).to_feather('../data/X_test.feather')
y_test.reset_index(drop=True).to_feather('../data/y_test.feather')