In [ ]:
import pandas as pd
df = pd.read_csv('../data/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz', compression='gzip')
df.columns = ['dt'] + df.columns[1:].tolist() # 更改欄位名稱
test_data = pd.read_csv('..\data\需預測的顧客名單及提交檔案範例.csv')

In [3]:
train_data = df
print(train_data.shape,test_data.shape)
display(train_data.head())
display(test_data.head())

(32975654, 53) (500000, 4)

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1.0,10321418.0,45,3.0,3891.965283,3.0,0.0,0.0,0.0,1.00,...,1.0,4.0,5.0,1.0,99.0,30.0,95982.822967,1.0,4.0,1.0
1,1.0,10414574.0,15,2.0,10616.561549,2.0,0.0,0.0,0.0,1.00,...,2.0,2.0,15.0,1.0,2.0,30.0,130702.351368,1.0,3.0,1.0
2,1.0,10134567.0,48,2.0,23527.655416,0.0,2.0,0.0,0.0,0.00,...,1.0,3.0,11.0,1.0,3.0,30.0,112010.611717,0.0,4.0,1.0
3,1.0,10001003.0,48,9.0,17751.558260,7.0,2.0,0.0,0.0,0.75,...,2.0,3.0,11.0,1.0,2.0,30.0,59701.507360,0.0,3.0,1.0
4,1.0,10267183.0,2,1.0,21701.307598,1.0,0.0,0.0,0.0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,NaN,0.0,6.0,0.0

       chid  top1  top2  top3
0  10128239    18    10     6
1  10077943    48    22     6
2  10277876    22    10    39
3  10364842    37    19    13
4  10392717     2    36    26

In [19]:
feature_columns = list(set(train_data.columns.tolist()) - set(['chid','shop_tag']))
categorical_features = ['masts','educd','trdtp','naty','poscd','cuorg','gender_code','age','primary_card']
numerical_features = list(set(feature_columns)-set(categorical_features))
train_df = train_data
sample_submit = test_data
len(feature_columns),len(categorical_features),len(numerical_features)

(51, 9, 42)

In [20]:
from tqdm import tqdm
for idx in tqdm(sample_submit.index[:3]): # demo用所以取前五筆 實際上應該取全部
    # 取出這一條row的chid
    chid = sample_submit.loc[idx,'chid']
    
    # 從歷史訓練數據抓對應的chid 算一些統計資訊 當作特徵 併入sample_submit裡面

    # 數值特徵統計資訊
    for col in tqdm(numerical_features):
        # 1.平均值  2.最大值  3.最小值 
        sample_submit.loc[idx,f"mean_of_{col}"] = train_df.loc[train_df['chid']==chid,col].mean()
        sample_submit.loc[idx,f"max_of_{col}"] = train_df.loc[train_df['chid']==chid,col].max()
        sample_submit.loc[idx,f"min_of_{col}"] = train_df.loc[train_df['chid']==chid,col].min()
        
    # 類別特徵統計資訊
    for col in tqdm(categorical_features):
        # 1.nunique (這個欄位有多少種不一樣的數值)
        sample_submit.loc[idx,f"nunique_of_{col}"] = train_df.loc[train_df['chid']==chid,col].nunique()
        
        # 2.norm_count (這個欄位在每一種數值上出現的次數(count)除以總數(normalize)等於取平均(mean))
        cat_feat = pd.get_dummies(train_df[col],columns=col) # one hot 格式
        cat_feat = pd.DataFrame(cat_feat.mean(axis=0)).T # 取平均
        cat_feat.index = [idx] # 處理DataFrame格式
        cat_feat.columns = [ "norm_count_"+col+"_"+str(i) for i in cat_feat.columns] # 處理DataFrame格式
        print(sample_submit.shape,cat_feat.shape)
        display(cat_feat)
        try:
            sample_submit = sample_submit.join(cat_feat)# 合併DataFrame
        except:
            sample_submit.loc[idx,cat_feat.columns] = cat_feat.values.reshape(-1)
        print(sample_submit.shape,cat_feat.shape)

sample_submit.head(3)

100%|██████████| 42/42 [00:23<00:00,  1.76it/s]

(500000, 131) (1, 3)

   norm_count_masts_1.0  norm_count_masts_2.0  norm_count_masts_3.0
0              0.475057              0.524312               0.00063

(500000, 134) (1, 3)
(500000, 135) (1, 6)

,norm_count_educd_1.0,norm_count_educd_2.0,norm_count_educd_3.0,norm_count_educd_4.0,norm_count_educd_5.0,norm_count_educd_6.0
0,0.011728,0.139897,0.432235,0.16215,0.151359,0.102631

(500000, 141) (1, 6)
(500000, 142) (1, 29)

,norm_count_trdtp_1.0,norm_count_trdtp_2.0,norm_count_trdtp_3.0,norm_count_trdtp_4.0,norm_count_trdtp_5.0,norm_count_trdtp_6.0,norm_count_trdtp_7.0,norm_count_trdtp_8.0,norm_count_trdtp_9.0,norm_count_trdtp_10.0,...,norm_count_trdtp_20.0,norm_count_trdtp_21.0,norm_count_trdtp_22.0,norm_count_trdtp_23.0,norm_count_trdtp_24.0,norm_count_trdtp_25.0,norm_count_trdtp_26.0,norm_count_trdtp_27.0,norm_count_trdtp_28.0,norm_count_trdtp_29.0
0,0.000617,0.121339,0.003664,0.015858,0.109476,0.029738,0.020027,0.053316,0.008596,0.032318,...,0.001905,0.000891,0.000533,0.000296,0.000171,0.000112,0.000304,0.000745,0.000023,0.000006

(500000, 171) (1, 29)
(500000, 172) (1, 2)

   norm_count_naty_1.0  norm_count_naty_2.0
0             0.997871             0.002129

(500000, 174) (1, 2)

(500000, 175) (1, 11)

,norm_count_poscd_1.0,norm_count_poscd_2.0,norm_count_poscd_3.0,norm_count_poscd_4.0,norm_count_poscd_5.0,norm_count_poscd_6.0,norm_count_poscd_7.0,norm_count_poscd_8.0,norm_count_poscd_9.0,norm_count_poscd_10.0,norm_count_poscd_99.0
0,0.10364,0.337674,0.108746,0.033048,0.022585,0.031386,0.00463,0.037597,3.032540e-08,0.000016,0.320678

(500000, 186) (1, 11)
(500000, 187) (1, 34)

,norm_count_cuorg_1.0,norm_count_cuorg_2.0,norm_count_cuorg_3.0,norm_count_cuorg_4.0,norm_count_cuorg_5.0,norm_count_cuorg_6.0,norm_count_cuorg_7.0,norm_count_cuorg_8.0,norm_count_cuorg_9.0,norm_count_cuorg_11.0,...,norm_count_cuorg_26.0,norm_count_cuorg_27.0,norm_count_cuorg_28.0,norm_count_cuorg_29.0,norm_count_cuorg_30.0,norm_count_cuorg_31.0,norm_count_cuorg_32.0,norm_count_cuorg_35.0,norm_count_cuorg_38.0,norm_count_cuorg_40.0
0,9.097621e-07,0.001032,0.000656,0.002806,0.000003,0.007953,0.000305,0.000522,0.000001,0.000141,...,0.000655,0.000044,0.000013,0.000087,0.970698,0.000107,0.001447,0.000118,0.000008,6.974843e-07

(500000, 221) (1, 34)
(500000, 222) (1, 2)

   norm_count_gender_code_0.0  norm_count_gender_code_1.0
0                    0.544541                    0.442672

(500000, 224) (1, 2)
(500000, 225) (1, 9)

,norm_count_age_1.0,norm_count_age_2.0,norm_count_age_3.0,norm_count_age_4.0,norm_count_age_5.0,norm_count_age_6.0,norm_count_age_7.0,norm_count_age_8.0,norm_count_age_9.0
0,0.002654,0.153966,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024

(500000, 234) (1, 9)
(500000, 235) (1, 2)

   norm_count_primary_card_0.0  norm_count_primary_card_1.0
0                     0.083689                     0.916311

100%|██████████| 9/9 [00:26<00:00,  2.89s/it]
 33%|███▎      | 1/3 [00:49<01:39, 49.85s/it]

(500000, 237) (1, 2)

100%|██████████| 42/42 [00:04<00:00, 10.28it/s]

(500000, 237) (1, 3)

   norm_count_masts_1.0  norm_count_masts_2.0  norm_count_masts_3.0
1              0.475057              0.524312               0.00063

(500000, 237) (1, 3)
(500000, 237) (1, 6)

,norm_count_educd_1.0,norm_count_educd_2.0,norm_count_educd_3.0,norm_count_educd_4.0,norm_count_educd_5.0,norm_count_educd_6.0
1,0.011728,0.139897,0.432235,0.16215,0.151359,0.102631

(500000, 237) (1, 6)
(500000, 237) (1, 29)

,norm_count_trdtp_1.0,norm_count_trdtp_2.0,norm_count_trdtp_3.0,norm_count_trdtp_4.0,norm_count_trdtp_5.0,norm_count_trdtp_6.0,norm_count_trdtp_7.0,norm_count_trdtp_8.0,norm_count_trdtp_9.0,norm_count_trdtp_10.0,...,norm_count_trdtp_20.0,norm_count_trdtp_21.0,norm_count_trdtp_22.0,norm_count_trdtp_23.0,norm_count_trdtp_24.0,norm_count_trdtp_25.0,norm_count_trdtp_26.0,norm_count_trdtp_27.0,norm_count_trdtp_28.0,norm_count_trdtp_29.0
1,0.000617,0.121339,0.003664,0.015858,0.109476,0.029738,0.020027,0.053316,0.008596,0.032318,...,0.001905,0.000891,0.000533,0.000296,0.000171,0.000112,0.000304,0.000745,0.000023,0.000006

(500000, 237) (1, 29)
(500000, 237) (1, 2)

   norm_count_naty_1.0  norm_count_naty_2.0
1             0.997871             0.002129

(500000, 237) (1, 2)
(500000, 237) (1, 11)

,norm_count_poscd_1.0,norm_count_poscd_2.0,norm_count_poscd_3.0,norm_count_poscd_4.0,norm_count_poscd_5.0,norm_count_poscd_6.0,norm_count_poscd_7.0,norm_count_poscd_8.0,norm_count_poscd_9.0,norm_count_poscd_10.0,norm_count_poscd_99.0
1,0.10364,0.337674,0.108746,0.033048,0.022585,0.031386,0.00463,0.037597,3.032540e-08,0.000016,0.320678

(500000, 237) (1, 11)
(500000, 237) (1, 34)

,norm_count_cuorg_1.0,norm_count_cuorg_2.0,norm_count_cuorg_3.0,norm_count_cuorg_4.0,norm_count_cuorg_5.0,norm_count_cuorg_6.0,norm_count_cuorg_7.0,norm_count_cuorg_8.0,norm_count_cuorg_9.0,norm_count_cuorg_11.0,...,norm_count_cuorg_26.0,norm_count_cuorg_27.0,norm_count_cuorg_28.0,norm_count_cuorg_29.0,norm_count_cuorg_30.0,norm_count_cuorg_31.0,norm_count_cuorg_32.0,norm_count_cuorg_35.0,norm_count_cuorg_38.0,norm_count_cuorg_40.0
1,9.097621e-07,0.001032,0.000656,0.002806,0.000003,0.007953,0.000305,0.000522,0.000001,0.000141,...,0.000655,0.000044,0.000013,0.000087,0.970698,0.000107,0.001447,0.000118,0.000008,6.974843e-07

(500000, 237) (1, 34)
(500000, 237) (1, 2)

   norm_count_gender_code_0.0  norm_count_gender_code_1.0
1                    0.544541                    0.442672

(500000, 237) (1, 2)
(500000, 237) (1, 9)

,norm_count_age_1.0,norm_count_age_2.0,norm_count_age_3.0,norm_count_age_4.0,norm_count_age_5.0,norm_count_age_6.0,norm_count_age_7.0,norm_count_age_8.0,norm_count_age_9.0
1,0.002654,0.153966,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024

(500000, 237) (1, 9)
(500000, 237) (1, 2)

   norm_count_primary_card_0.0  norm_count_primary_card_1.0
1                     0.083689                     0.916311

100%|██████████| 9/9 [00:16<00:00,  1.85s/it]
 67%|██████▋   | 2/3 [01:10<00:41, 41.11s/it]

(500000, 237) (1, 2)

100%|██████████| 42/42 [00:03<00:00, 11.69it/s]

(500000, 237) (1, 3)

   norm_count_masts_1.0  norm_count_masts_2.0  norm_count_masts_3.0
2              0.475057              0.524312               0.00063

(500000, 237) (1, 3)
(500000, 237) (1, 6)

,norm_count_educd_1.0,norm_count_educd_2.0,norm_count_educd_3.0,norm_count_educd_4.0,norm_count_educd_5.0,norm_count_educd_6.0
2,0.011728,0.139897,0.432235,0.16215,0.151359,0.102631

(500000, 237) (1, 6)
(500000, 237) (1, 29)

,norm_count_trdtp_1.0,norm_count_trdtp_2.0,norm_count_trdtp_3.0,norm_count_trdtp_4.0,norm_count_trdtp_5.0,norm_count_trdtp_6.0,norm_count_trdtp_7.0,norm_count_trdtp_8.0,norm_count_trdtp_9.0,norm_count_trdtp_10.0,...,norm_count_trdtp_20.0,norm_count_trdtp_21.0,norm_count_trdtp_22.0,norm_count_trdtp_23.0,norm_count_trdtp_24.0,norm_count_trdtp_25.0,norm_count_trdtp_26.0,norm_count_trdtp_27.0,norm_count_trdtp_28.0,norm_count_trdtp_29.0
2,0.000617,0.121339,0.003664,0.015858,0.109476,0.029738,0.020027,0.053316,0.008596,0.032318,...,0.001905,0.000891,0.000533,0.000296,0.000171,0.000112,0.000304,0.000745,0.000023,0.000006

(500000, 237) (1, 29)
(500000, 237) (1, 2)

   norm_count_naty_1.0  norm_count_naty_2.0
2             0.997871             0.002129

(500000, 237) (1, 2)
(500000, 237) (1, 11)

,norm_count_poscd_1.0,norm_count_poscd_2.0,norm_count_poscd_3.0,norm_count_poscd_4.0,norm_count_poscd_5.0,norm_count_poscd_6.0,norm_count_poscd_7.0,norm_count_poscd_8.0,norm_count_poscd_9.0,norm_count_poscd_10.0,norm_count_poscd_99.0
2,0.10364,0.337674,0.108746,0.033048,0.022585,0.031386,0.00463,0.037597,3.032540e-08,0.000016,0.320678

(500000, 237) (1, 11)
(500000, 237) (1, 34)

,norm_count_cuorg_1.0,norm_count_cuorg_2.0,norm_count_cuorg_3.0,norm_count_cuorg_4.0,norm_count_cuorg_5.0,norm_count_cuorg_6.0,norm_count_cuorg_7.0,norm_count_cuorg_8.0,norm_count_cuorg_9.0,norm_count_cuorg_11.0,...,norm_count_cuorg_26.0,norm_count_cuorg_27.0,norm_count_cuorg_28.0,norm_count_cuorg_29.0,norm_count_cuorg_30.0,norm_count_cuorg_31.0,norm_count_cuorg_32.0,norm_count_cuorg_35.0,norm_count_cuorg_38.0,norm_count_cuorg_40.0
2,9.097621e-07,0.001032,0.000656,0.002806,0.000003,0.007953,0.000305,0.000522,0.000001,0.000141,...,0.000655,0.000044,0.000013,0.000087,0.970698,0.000107,0.001447,0.000118,0.000008,6.974843e-07

(500000, 237) (1, 34)
(500000, 237) (1, 2)

   norm_count_gender_code_0.0  norm_count_gender_code_1.0
2                    0.544541                    0.442672

(500000, 237) (1, 2)
(500000, 237) (1, 9)

,norm_count_age_1.0,norm_count_age_2.0,norm_count_age_3.0,norm_count_age_4.0,norm_count_age_5.0,norm_count_age_6.0,norm_count_age_7.0,norm_count_age_8.0,norm_count_age_9.0
2,0.002654,0.153966,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024

(500000, 237) (1, 9)
(500000, 237) (1, 2)

   norm_count_primary_card_0.0  norm_count_primary_card_1.0
2                     0.083689                     0.916311

100%|██████████| 9/9 [00:16<00:00,  1.85s/it]
100%|██████████| 3/3 [01:30<00:00, 30.26s/it]

(500000, 237) (1, 2)

,chid,top1,top2,top3,mean_of_card_9_txn_cnt,max_of_card_9_txn_cnt,min_of_card_9_txn_cnt,mean_of_card_14_txn_cnt,max_of_card_14_txn_cnt,min_of_card_14_txn_cnt,...,norm_count_age_3.0,norm_count_age_4.0,norm_count_age_5.0,norm_count_age_6.0,norm_count_age_7.0,norm_count_age_8.0,norm_count_age_9.0,nunique_of_primary_card,norm_count_primary_card_0.0,norm_count_primary_card_1.0
0,10128239,18,10,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311
1,10077943,48,22,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311
2,10277876,22,10,39,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311

In [21]:
sample_submit.head(10)

,chid,top1,top2,top3,mean_of_card_9_txn_cnt,max_of_card_9_txn_cnt,min_of_card_9_txn_cnt,mean_of_card_14_txn_cnt,max_of_card_14_txn_cnt,min_of_card_14_txn_cnt,...,norm_count_age_3.0,norm_count_age_4.0,norm_count_age_5.0,norm_count_age_6.0,norm_count_age_7.0,norm_count_age_8.0,norm_count_age_9.0,nunique_of_primary_card,norm_count_primary_card_0.0,norm_count_primary_card_1.0
0,10128239,18,10,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311
1,10077943,48,22,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311
2,10277876,22,10,39,0.0,0.0,0.0,0.0,0.0,0.0,...,0.330446,0.274418,0.156851,0.058793,0.009312,0.000748,0.000024,1.0,0.083689,0.916311
3,10364842,37,19,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10392717,2,36,26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10439550,22,26,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10285755,12,13,36,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10335334,26,18,48,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10072243,15,13,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10274006,22,6,39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
pd.options.display.max_rows = 999
print(sample_submit.shape)
sample_submit.describe().T

(500000, 237)

,count,mean,std,min,25%,50%,75%,max
chid,500000.0,1.025000e+07,1.443377e+05,1.000000e+07,1.012500e+07,1.025000e+07,1.037500e+07,1.050000e+07
top1,500000.0,2.180537e+01,1.241736e+01,2.000000e+00,1.200000e+01,1.900000e+01,3.600000e+01,4.800000e+01
top2,500000.0,2.182171e+01,1.241803e+01,2.000000e+00,1.300000e+01,1.900000e+01,3.600000e+01,4.800000e+01
top3,500000.0,2.181598e+01,1.240767e+01,2.000000e+00,1.300000e+01,2.100000e+01,3.600000e+01,4.800000e+01
mean_of_card_9_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_9_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_9_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_14_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_14_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_14_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_10_txn_cnt,3.0,8.680089e-01,1.503436e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.302013e+00,2.604027e+00
max_of_card_10_txn_cnt,3.0,5.333333e+00,9.237604e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00,1.600000e+01
min_of_card_10_txn_cnt,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_dt,3.0,1.511219e+01,3.461489e+00,1.307383e+01,1.311384e+01,1.315385e+01,1.613138e+01,1.910891e+01
max_of_dt,3.0,2.400000e+01,0.000000e+00,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01
min_of_dt,3.0,5.666667e+00,7.234178e+00,1.000000e+00,1.500000e+00,2.000000e+00,8.000000e+00,1.400000e+01
mean_of_domestic_online_amt_pct,3.0,2.599435e-01,3.219667e-01,0.000000e+00,7.986577e-02,1.597315e-01,3.899153e-01,6.200990e-01
max_of_domestic_online_amt_pct,3.0,6.666667e-01,5.773503e-01,0.000000e+00,5.000000e-01,1.000000e+00,1.000000e+00,1.000000e+00
min_of_domestic_online_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_txn_amt,3.0,7.291450e+03,1.246907e+03,6.074826e+03,6.653884e+03,7.232942e+03,7.899762e+03,8.566581e+03
max_of_txn_amt,3.0,2.082435e+04,1.088821e+04,1.051214e+04,1.513194e+04,1.975174e+04,2.598045e+04,3.220917e+04
min_of_txn_amt,3.0,1.204955e+03,3.739138e+02,7.971657e+02,1.041581e+03,1.285997e+03,1.408849e+03,1.531701e+03
mean_of_card_other_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_other_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_other_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_3_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_3_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_3_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_5_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_5_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_5_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_14_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_14_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_14_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_6_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_6_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_6_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_overseas_online_cnt,3.0,2.604603e-01,4.256661e-01,0.000000e+00,1.485149e-02,2.970297e-02,3.906904e-01,7.516779e-01
max_of_overseas_online_cnt,3.0,6.000000e+00,8.717798e+00,0.000000e+00,1.000000e+00,2.000000e+00,9.000000e+00,1.600000e+01
min_of_overseas_online_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_12_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_12_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_12_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_1_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
max_of_card_1_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
min_of_card_1_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_domestic_offline_amt_pct,3.0,6.755463e-01,3.161936e-01,3.683168e-01,5.133195e-01,6.583221e-01,8.291611e-01,1.000000e+00
max_of_domestic_offline_amt_pct,3.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min_of_domestic_offline_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_card_5_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_5_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_5_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_13_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_13_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_13_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_4_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_4_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_4_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_overseas_offline_amt_pct,3.0,2.237136e-03,3.874834e-03,0.000000e+00,0.000000e+00,0.000000e+00,3.355705e-03,6.711409e-03
max_of_overseas_offline_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
min_of_overseas_offline_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_7_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_7_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_7_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_txn_cnt,3.0,2.048258e+00,5.718727e-01,1.461538e+00,1.770373e+00,2.079208e+00,2.341617e+00,2.604027e+00
max_of_txn_cnt,3.0,8.333333e+00,7.094599e+00,2.000000e+00,4.500000e+00,7.000000e+00,1.150000e+01,1.600000e+01
min_of_txn_cnt,3.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
mean_of_card_6_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_6_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_6_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_8_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
max_of_card_8_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
min_of_card_8_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_card_11_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_11_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_11_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_1_txn_cnt,3.0,6.930693e-01,1.200431e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.039604e+00,2.079208e+00
max_of_card_1_txn_cnt,3.0,2.333333e+00,4.041452e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+00,7.000000e+00
min_of_card_1_txn_cnt,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_card_7_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_7_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_7_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_13_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_13_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_13_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_slam,3.0,7.439481e+04,3.783905e+04,4.932418e+04,5.263206e+04,5.593995e+04,8.693013e+04,1.179203e+05
max_of_slam,3.0,7.551227e+04,3.676266e+04,5.267655e+04,5.430825e+04,5.593995e+04,8.693013e+04,1.179203e+05
min_of_slam,3.0,7.342221e+04,3.883018e+04,4.640636e+04,5.117316e+04,5.593995e+04,8.693013e+04,1.179203e+05
mean_of_overseas_offline_cnt,3.0,2.237136e-03,3.874834e-03,0.000000e+00,0.000000e+00,0.000000e+00,3.355705e-03,6.711409e-03
max_of_overseas_offline_cnt,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
min_of_overseas_offline_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_8_txn_cnt,3.0,4.871795e-01,8.438196e-01,0.000000e+00,0.000000e+00,0.000000e+00,7.307692e-01,1.461538e+00
max_of_card_8_txn_cnt,3.0,6.666667e-01,1.154701e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00
min_of_card_8_txn_cnt,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_card_9_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_9_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_9_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_10_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
max_of_card_10_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
min_of_card_10_txn_amt_pct,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_card_2_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_2_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_2_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_overseas_online_amt_pct,3.0,6.229539e-02,9.803785e-02,0.000000e+00,5.792079e-03,1.158416e-02,9.344309e-02,1.753020e-01
max_of_overseas_online_amt_pct,3.0,6.666667e-01,5.773503e-01,0.000000e+00,5.000000e-01,1.000000e+00,1.000000e+00,1.000000e+00
min_of_overseas_online_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_12_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_12_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_12_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_3_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_3_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_3_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_4_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_4_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_4_txn_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_11_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_11_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_11_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_2_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_2_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_2_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_domestic_offline_cnt,3.0,1.232124e+00,5.505547e-01,6.039604e-01,1.032749e+00,1.461538e+00,1.546205e+00,1.630872e+00
max_of_domestic_offline_cnt,3.0,6.000000e+00,5.291503e+00,2.000000e+00,3.000000e+00,4.000000e+00,8.000000e+00,1.200000e+01
min_of_domestic_offline_cnt,3.0,3.333333e-01,5.773503e-01,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mean_of_domestic_online_cnt,3.0,5.534366e-01,7.800151e-01,0.000000e+00,1.073826e-01,2.147651e-01,8.301548e-01,1.445545e+00
max_of_domestic_online_cnt,3.0,3.000000e+00,3.000000e+00,0.000000e+00,1.500000e+00,3.000000e+00,4.500000e+00,6.000000e+00
min_of_domestic_online_cnt,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mean_of_card_other_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max_of_card_other_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
min_of_card_other_txn_amt_pct,3.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
nunique_of_masts,3.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
norm_count_masts_1.0,3.0,4.750570e-01,0.000000e+00,4.750570e-01,4.750570e-01,4.750570e-01,4.750570e-01,4.750570e-01
norm_count_masts_2.0,3.0,5.243125e-01,0.000000e+00,5.243125e-01,5.243125e-01,5.243125e-01,5.243125e-01,5.243125e-01
norm_count_masts_3.0,3.0,6.302225e-04,0.000000e+00,6.302225e-04,6.302225e-04,6.302225e-04,6.302225e-04,6.302225e-04
nunique_of_educd,3.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
norm_count_educd_1.0,3.0,1.172796e-02,0.000000e+00,1.172796e-02,1.172796e-02,1.172796e-02,1.172796e-02,1.172796e-02
norm_count_educd_2.0,3.0,1.398967e-01,0.000000e+00,1.398967e-01,1.398967e-01,1.398967e-01,1.398967e-01,1.398967e-01
norm_count_educd_3.0,3.0,4.322347e-01,0.000000e+00,4.322347e-01,4.322347e-01,4.322347e-01,4.322347e-01,4.322347e-01
norm_count_educd_4.0,3.0,1.621496e-01,0.000000e+00,1.621496e-01,1.621496e-01,1.621496e-01,1.621496e-01,1.621496e-01
norm_count_educd_5.0,3.0,1.513589e-01,0.000000e+00,1.513589e-01,1.513589e-01,1.513589e-01,1.513589e-01,1.513589e-01
norm_count_educd_6.0,3.0,1.026315e-01,0.000000e+00,1.026315e-01,1.026315e-01,1.026315e-01,1.026315e-01,1.026315e-01
nunique_of_trdtp,3.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
norm_count_trdtp_1.0,3.0,6.171220e-04,0.000000e+00,6.171220e-04,6.171220e-04,6.171220e-04,6.171220e-04,6.171220e-04
norm_count_trdtp_2.0,3.0,1.213390e-01,0.000000e+00,1.213390e-01,1.213390e-01,1.213390e-01,1.213390e-01,1.213390e-01
norm_count_trdtp_3.0,3.0,3.664067e-03,0.000000e+00,3.664067e-03,3.664067e-03,3.664067e-03,3.664067e-03,3.664067e-03
norm_count_trdtp_4.0,3.0,1.585849e-02,0.000000e+00,1.585849e-02,1.585849e-02,1.585849e-02,1.585849e-02,1.585849e-02
norm_count_trdtp_5.0,3.0,1.094756e-01,0.000000e+00,1.094756e-01,1.094756e-01,1.094756e-01,1.094756e-01,1.094756e-01
norm_count_trdtp_6.0,3.0,2.973776e-02,0.000000e+00,2.973776e-02,2.973776e-02,2.973776e-02,2.973776e-02,2.973776e-02
norm_count_trdtp_7.0,3.0,2.002665e-02,0.000000e+00,2.002665e-02,2.002665e-02,2.002665e-02,2.002665e-02,2.002665e-02
norm_count_trdtp_8.0,3.0,5.331615e-02,0.000000e+00,5.331615e-02,5.331615e-02,5.331615e-02,5.331615e-02,5.331615e-02
norm_count_trdtp_9.0,3.0,8.595614e-03,0.000000e+00,8.595614e-03,8.595614e-03,8.595614e-03,8.595614e-03,8.595614e-03
norm_count_trdtp_10.0,3.0,3.231839e-02,0.000000e+00,3.231839e-02,3.231839e-02,3.231839e-02,3.231839e-02,3.231839e-02
norm_count_trdtp_11.0,3.0,1.378901e-01,0.000000e+00,1.378901e-01,1.378901e-01,1.378901e-01,1.378901e-01,1.378901e-01
norm_count_trdtp_12.0,3.0,9.634020e-02,0.000000e+00,9.634020e-02,9.634020e-02,9.634020e-02,9.634020e-02,9.634020e-02
norm_count_trdtp_13.0,3.0,4.691482e-02,0.000000e+00,4.691482e-02,4.691482e-02,4.691482e-02,4.691482e-02,4.691482e-02
norm_count_trdtp_14.0,3.0,2.721071e-02,0.000000e+00,2.721071e-02,2.721071e-02,2.721071e-02,2.721071e-02,2.721071e-02
norm_count_trdtp_15.0,3.0,2.373222e-01,0.000000e+00,2.373222e-01,2.373222e-01,2.373222e-01,2.373222e-01,2.373222e-01
norm_count_trdtp_16.0,3.0,1.475786e-03,0.000000e+00,1.475786e-03,1.475786e-03,1.475786e-03,1.475786e-03,1.475786e-03
norm_count_trdtp_17.0,3.0,4.774077e-02,0.000000e+00,4.774077e-02,4.774077e-02,4.774077e-02,4.774077e-02,4.774077e-02
norm_count_trdtp_18.0,3.0,9.311415e-04,0.000000e+00,9.311415e-04,9.311415e-04,9.311415e-04,9.311415e-04,9.311415e-04
norm_count_trdtp_19.0,3.0,4.226846e-03,0.000000e+00,4.226846e-03,4.226846e-03,4.226846e-03,4.226846e-03,4.226846e-03
norm_count_trdtp_20.0,3.0,1.904830e-03,0.000000e+00,1.904830e-03,1.904830e-03,1.904830e-03,1.904830e-03,1.904830e-03
norm_count_trdtp_21.0,3.0,8.914152e-04,0.000000e+00,8.914152e-04,8.914152e-04,8.914152e-04,8.914152e-04,8.914152e-04
norm_count_trdtp_22.0,3.0,5.332722e-04,0.000000e+00,5.332722e-04,5.332722e-04,5.332722e-04,5.332722e-04,5.332722e-04
norm_count_trdtp_23.0,3.0,2.957333e-04,0.000000e+00,2.957333e-04,2.957333e-04,2.957333e-04,2.957333e-04,2.957333e-04
norm_count_trdtp_24.0,3.0,1.706107e-04,0.000000e+00,1.706107e-04,1.706107e-04,1.706107e-04,1.706107e-04,1.706107e-04
norm_count_trdtp_25.0,3.0,1.116885e-04,1.659839e-20,1.116885e-04,1.116885e-04,1.116885e-04,1.116885e-04,1.116885e-04
norm_count_trdtp_26.0,3.0,3.041031e-04,0.000000e+00,3.041031e-04,3.041031e-04,3.041031e-04,3.041031e-04,3.041031e-04

In [25]:
a = pd.DataFrame()
a['features_name'] = sample_submit.columns.tolist()
a

                        features_name
0                                chid
1                                top1
2                                top2
3                                top3
4              mean_of_card_9_txn_cnt
5               max_of_card_9_txn_cnt
6               min_of_card_9_txn_cnt
7             mean_of_card_14_txn_cnt
8              max_of_card_14_txn_cnt
9              min_of_card_14_txn_cnt
10            mean_of_card_10_txn_cnt
11             max_of_card_10_txn_cnt
12             min_of_card_10_txn_cnt
13                         mean_of_dt
14                          max_of_dt
15                          min_of_dt
16    mean_of_domestic_online_amt_pct
17     max_of_domestic_online_amt_pct
18     min_of_domestic_online_amt_pct
19                    mean_of_txn_amt
20                     max_of_txn_amt
21                     min_of_txn_amt
22         mean_of_card_other_txn_cnt
23          max_of_card_other_txn_cnt
24          min_of_card_other_txn_cnt
25         mean_of_card_3_txn_amt_pct
26          max_of_card_3_txn_amt_pct
27          min_of_card_3_txn_amt_pct
28         mean_of_card_5_txn_amt_pct
29          max_of_card_5_txn_amt_pct
30          min_of_card_5_txn_amt_pct
31        mean_of_card_14_txn_amt_pct
32         max_of_card_14_txn_amt_pct
33         min_of_card_14_txn_amt_pct
34         mean_of_card_6_txn_amt_pct
35          max_of_card_6_txn_amt_pct
36          min_of_card_6_txn_amt_pct
37        mean_of_overseas_online_cnt
38         max_of_overseas_online_cnt
39         min_of_overseas_online_cnt
40        mean_of_card_12_txn_amt_pct
41         max_of_card_12_txn_amt_pct
42         min_of_card_12_txn_amt_pct
43         mean_of_card_1_txn_amt_pct
44          max_of_card_1_txn_amt_pct
45          min_of_card_1_txn_amt_pct
46   mean_of_domestic_offline_amt_pct
47    max_of_domestic_offline_amt_pct
48    min_of_domestic_offline_amt_pct
49             mean_of_card_5_txn_cnt
50              max_of_card_5_txn_cnt
51              min_of_card_5_txn_cnt
52            mean_of_card_13_txn_cnt
53             max_of_card_13_txn_cnt
54             min_of_card_13_txn_cnt
55         mean_of_card_4_txn_amt_pct
56          max_of_card_4_txn_amt_pct
57          min_of_card_4_txn_amt_pct
58   mean_of_overseas_offline_amt_pct
59    max_of_overseas_offline_amt_pct
60    min_of_overseas_offline_amt_pct
61             mean_of_card_7_txn_cnt
62              max_of_card_7_txn_cnt
63              min_of_card_7_txn_cnt
64                    mean_of_txn_cnt
65                     max_of_txn_cnt
66                     min_of_txn_cnt
67             mean_of_card_6_txn_cnt
68              max_of_card_6_txn_cnt
69              min_of_card_6_txn_cnt
70         mean_of_card_8_txn_amt_pct
71          max_of_card_8_txn_amt_pct
72          min_of_card_8_txn_amt_pct
73            mean_of_card_11_txn_cnt
74             max_of_card_11_txn_cnt
75             min_of_card_11_txn_cnt
76             mean_of_card_1_txn_cnt
77              max_of_card_1_txn_cnt
78              min_of_card_1_txn_cnt
79         mean_of_card_7_txn_amt_pct
80          max_of_card_7_txn_amt_pct
81          min_of_card_7_txn_amt_pct
82        mean_of_card_13_txn_amt_pct
83         max_of_card_13_txn_amt_pct
84         min_of_card_13_txn_amt_pct
85                       mean_of_slam
86                        max_of_slam
87                        min_of_slam
88       mean_of_overseas_offline_cnt
89        max_of_overseas_offline_cnt
90        min_of_overseas_offline_cnt
91             mean_of_card_8_txn_cnt
92              max_of_card_8_txn_cnt
93              min_of_card_8_txn_cnt
94         mean_of_card_9_txn_amt_pct
95          max_of_card_9_txn_amt_pct
96          min_of_card_9_txn_amt_pct
97        mean_of_card_10_txn_amt_pct
98         max_of_card_10_txn_amt_pct
99         min_of_card_10_txn_amt_pct
100            mean_of_card_2_txn_cnt
101             max_of_card_2_txn_cnt
102             min_of_card_2_txn_cnt
103   mean_of_overseas_online_amt_pct
104    max_of_overseas_online_amt_pct
105    min_of_overseas_online_amt_pct
106           mean_of_card_12_txn_cnt
107            max_of_card_12_txn_cnt
108            min_of_card_12_txn_cnt
109            mean_of_card_3_txn_cnt
110             max_of_card_3_txn_cnt
111             min_of_card_3_txn_cnt
112            mean_of_card_4_txn_cnt
113             max_of_card_4_txn_cnt
114             min_of_card_4_txn_cnt
115       mean_of_card_11_txn_amt_pct
116        max_of_card_11_txn_amt_pct
117        min_of_card_11_txn_amt_pct
118        mean_of_card_2_txn_amt_pct
119         max_of_card_2_txn_amt_pct
120         min_of_card_2_txn_amt_pct
121      mean_of_domestic_offline_cnt
122       max_of_domestic_offline_cnt
123       min_of_domestic_offline_cnt
124       mean_of_domestic_online_cnt
125        max_of_domestic_online_cnt
126        min_of_domestic_online_cnt
127    mean_of_card_other_txn_amt_pct
128     max_of_card_other_txn_amt_pct
129     min_of_card_other_txn_amt_pct
130                  nunique_of_masts
131              norm_count_masts_1.0
132              norm_count_masts_2.0
133              norm_count_masts_3.0
134                  nunique_of_educd
135              norm_count_educd_1.0
136              norm_count_educd_2.0
137              norm_count_educd_3.0
138              norm_count_educd_4.0
139              norm_count_educd_5.0
140              norm_count_educd_6.0
141                  nunique_of_trdtp
142              norm_count_trdtp_1.0
143              norm_count_trdtp_2.0
144              norm_count_trdtp_3.0
145              norm_count_trdtp_4.0
146              norm_count_trdtp_5.0
147              norm_count_trdtp_6.0
148              norm_count_trdtp_7.0
149              norm_count_trdtp_8.0
150              norm_count_trdtp_9.0
151             norm_count_trdtp_10.0
152             norm_count_trdtp_11.0
153             norm_count_trdtp_12.0
154             norm_count_trdtp_13.0
155             norm_count_trdtp_14.0
156             norm_count_trdtp_15.0
157             norm_count_trdtp_16.0
158             norm_count_trdtp_17.0
159             norm_count_trdtp_18.0
160             norm_count_trdtp_19.0
161             norm_count_trdtp_20.0
162             norm_count_trdtp_21.0
163             norm_count_trdtp_22.0
164             norm_count_trdtp_23.0
165             norm_count_trdtp_24.0
166             norm_count_trdtp_25.0
167             norm_count_trdtp_26.0
168             norm_count_trdtp_27.0
169             norm_count_trdtp_28.0
170             norm_count_trdtp_29.0
171                   nunique_of_naty
172               norm_count_naty_1.0
173               norm_count_naty_2.0
174                  nunique_of_poscd
175              norm_count_poscd_1.0
176              norm_count_poscd_2.0
177              norm_count_poscd_3.0
178              norm_count_poscd_4.0
179              norm_count_poscd_5.0
180              norm_count_poscd_6.0
181              norm_count_poscd_7.0
182              norm_count_poscd_8.0
183              norm_count_poscd_9.0
184             norm_count_poscd_10.0
185             norm_count_poscd_99.0
186                  nunique_of_cuorg
187              norm_count_cuorg_1.0
188              norm_count_cuorg_2.0
189              norm_count_cuorg_3.0
190              norm_count_cuorg_4.0
191              norm_count_cuorg_5.0
192              norm_count_cuorg_6.0
193              norm_count_cuorg_7.0
194              norm_count_cuorg_8.0
195              norm_count_cuorg_9.0
196             norm_count_cuorg_11.0
197             norm_count_cuorg_12.0
198             norm_count_cuorg_13.0
199             norm_count_cuorg_14.0
200             norm_count_cuorg_15.0
201             norm_count_cuorg_16.0
202             norm_count_cuorg_17.0
203             norm_count_cuorg_18.0
204             norm_count_cuorg_19.0
205             norm_count_cuorg_20.0
206             norm_count_cuorg_21.0
207             norm_count_cuorg_22.0
208             norm_count_cuorg_23.0
209             norm_count_cuorg_24.0
210             norm_count_cuorg_25.0
211             norm_count_cuorg_26.0
212             norm_count_cuorg_27.0
213             norm_count_cuorg_28.0
214             norm_count_cuorg_29.0
215             norm_count_cuorg_30.0
216             norm_count_cuorg_31.0
217             norm_count_cuorg_32.0
218             norm_count_cuorg_35.0
219             norm_count_cuorg_38.0
220             norm_count_cuorg_40.0
221            nunique_of_gender_code
222        norm_count_gender_code_0.0
223        norm_count_gender_code_1.0
224                    nunique_of_age
225                norm_count_age_1.0
226                norm_count_age_2.0
227                norm_count_age_3.0
228                norm_count_age_4.0
229                norm_count_age_5.0
230                norm_count_age_6.0
231                norm_count_age_7.0
232                norm_count_age_8.0
233                norm_count_age_9.0
234           nunique_of_primary_card
235       norm_count_primary_card_0.0
236       norm_count_primary_card_1.0

# 保存

In [26]:
#train_data.reset_index().to_feather('../data/train_data.feather')
#test_data.reset_index().to_feather('../data/test_data.feather')