In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz', compression='gzip')
df.columns = ['dt'] + df.columns[1:].tolist() # 更改欄位名稱
test_data = pd.read_csv('..\data\需預測的顧客名單及提交檔案範例.csv')

In [38]:
test_data.head()

       chid  top1  top2  top3
0  10128239    18    10     6
1  10077943    48    22     6
2  10277876    22    10    39
3  10364842    37    19    13
4  10392717     2    36    26

In [43]:
from tqdm.notebook import tqdm
官方指認欄位 = [2,6,10,12,13,15,18,19,21,22,25,26,36,37,39,48]
官方指認欄位 = [str(i) for i in 官方指認欄位]
predicts = []
for chid in tqdm(test_data['chid'].values[:5]):
    a = df.loc[df['chid']==chid,'shop_tag'].value_counts().to_frame()
    a['在指認欄位'] = False
    if len(list(set(a.index)&set(官方指認欄位))) != 0:
        a.loc[list(set(a.index)&set(官方指認欄位)),'在指認欄位'] = True
    answer = a[a['在指認欄位']==True].index.tolist()[:3]
    if len(answer) == 3:
        predicts.append(answer)
    else:
        for _ in range(3-len(answer)):
            answer.append(np.random.choice(官方指認欄位))
        predicts.append(answer)
predicts = np.array(predicts)
print(predicts.shape)
predicts

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5.0), HTML(value='')))

(5, 3)

array([['37', '25', '22'],
       ['36', '15', '13'],
       ['15', '37', '36'],
       ['37', '36', '10'],
       ['48', '15', '2']], dtype='<U2')

In [50]:
test_data.iloc[:5,-3:] = predicts
test_data

            chid top1 top2 top3
0       10128239   37   25   22
1       10077943   36   15   13
2       10277876   15   37   36
3       10364842   37   36   10
4       10392717   48   15    2
...          ...  ...  ...  ...
499995  10433239   18   48   25
499996  10235119    6   36   12
499997  10267595   21   26   15
499998  10160606   39   15   13
499999  10141759   13   12   19

[500000 rows x 4 columns]

In [52]:
print(test_data.shape)
test_data.to_csv('submit_most_count_method.csv')

(500000, 4)