<a href="https://colab.research.google.com/github/skywalker0803r/ESun2021WinterGame/blob/main/debug/debug1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
df['chid'] = [10128239 for _ in range(24)]
df['dt'] = [*range(1,25)]
df['shop_tag'] = [ np.random.randint(0,50) for _ in range(24)]
df['txn_amt'] = [ np.random.randint(0,9999) for _ in range(24)]
df

        chid  dt  shop_tag  txn_amt
0   10128239   1         8     8050
1   10128239   2         5     1562
2   10128239   3        26     4726
3   10128239   4        31     6570
4   10128239   5        16     5848
5   10128239   6        43     2894
6   10128239   7         9     1400
7   10128239   8        34     1638
8   10128239   9        29     8717
9   10128239  10        40     7260
10  10128239  11        26     8846
11  10128239  12        20     2501
12  10128239  13        10     7491
13  10128239  14        30     2292
14  10128239  15        45     9334
15  10128239  16        25     4216
16  10128239  17        33      563
17  10128239  18        42     8606
18  10128239  19        19     9149
19  10128239  20        43     1617
20  10128239  21        47     7212
21  10128239  22        42     3640
22  10128239  23        13     1834
23  10128239  24        28     4992

In [40]:
k = 10128239
dt_sample_df = pd.DataFrame(index=np.arange(1.0, 25.0, 1).tolist())
test_df = df[df['chid'] == k]
pivot_df_T = dt_sample_df.join(test_df.pivot(index='dt', columns='shop_tag', values='txn_amt').fillna(0)).T
dt_df = pd.DataFrame(index=pivot_df_T.index)
column_list = pivot_df_T.columns.tolist()
for i in column_list:
    rank_df = pivot_df_T.loc[:, [i]].rank(method='max') + 50 - pivot_df_T.shape[0]
    rank_df[rank_df == min(rank_df.values[0])] = 1
    dt_df.loc[:, str(i)] = rank_df.iloc[:, -1].values

In [41]:
dt_df

     1.0   2.0   3.0   4.0   5.0   6.0  ...  19.0  20.0  21.0  22.0  23.0  24.0
5    1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
8   50.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
9    1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
10   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
13   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0  50.0   1.0
16   1.0  49.0   1.0   1.0  50.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
19   1.0  49.0   1.0   1.0   1.0   1.0  ...  50.0   1.0   1.0   1.0   1.0   1.0
20   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
25   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
26   1.0  49.0  50.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
28   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0  50.0
29   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
30   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
31   1.0  49.0   1.0  50.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
33   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
34   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
40   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
42   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0  50.0   1.0   1.0
43   1.0  49.0   1.0   1.0   1.0  50.0  ...   1.0  50.0   1.0   1.0   1.0   1.0
45   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
47   1.0  49.0   1.0   1.0   1.0   1.0  ...   1.0   1.0  50.0   1.0   1.0   1.0

[21 rows x 24 columns]