In [47]:
from tqdm.auto import tqdm
import pandas as pd
import numpy as np
import joblib
tqdm.pandas()

# LOAD DATA

In [48]:
官方指認欄位 = ['2','6','10','12','13','15','18','19','21','22','25','26','36','37','39','48']
nbrs = joblib.load('../model/nbrs.pkl')
X_pca = joblib.load('../model/X_pca_for_knn.pkl')
df_groupby_chid_preprocessed = pd.read_feather('../data/df_groupby_chid_preprocessed.feather')
df = pd.read_feather('../data/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.feather')
df = df.loc[df.dt >= 12] # 取最近12個月資料
test_data = pd.read_feather('../data/需預測的顧客名單及提交檔案範例.feather')

display(df.head())
display(test_data.head())

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
13188928,12.0,10115966.0,15,1.0,9678.450445,1.0,0.0,0.0,0.0,1.00,...,1.0,4.0,15.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1.0
13188938,12.0,10115966.0,18,1.0,9624.614033,1.0,0.0,0.0,0.0,1.00,...,1.0,4.0,15.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1.0
13188944,12.0,10115966.0,25,1.0,2338.181448,1.0,0.0,0.0,0.0,1.00,...,1.0,4.0,15.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1.0
13188946,12.0,10115966.0,26,2.0,16627.150110,2.0,0.0,0.0,0.0,1.00,...,1.0,4.0,15.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1.0
13188957,12.0,10115966.0,37,13.0,18485.113446,3.0,10.0,0.0,0.0,0.27,...,1.0,4.0,15.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1.0

       chid  top1  top2  top3
0  10128239    18    10     6
1  10077943    48    22     6
2  10277876    22    10    39
3  10364842    37    19    13
4  10392717     2    36    26

In [53]:
def chid2answer(chid): #chid到answer的映射
    a = df.loc[df['chid']==chid,'shop_tag'].value_counts().to_frame()
    a['在指認欄位'] = False
    if len(list(set(a.index)&set(官方指認欄位))) != 0: #如果跟官方指定欄位有交集
        a.loc[list(set(a.index)&set(官方指認欄位)),'在指認欄位'] = True #有交集的部份做記號
    answer = a[a['在指認欄位']==True].index.tolist()[:3] # 取有交集的部份前三名返回
    return answer

def predict_function(chid): # 預測函數
    answer = chid2answer(chid) # 根據這個chid做預測
    if len(answer) == 3: # 如果成功找到三個直接return
        return answer
    else:
        remain = 3-len(answer) # 否則計算還缺多少
        idx = df_groupby_chid_preprocessed.loc[df_groupby_chid_preprocessed.chid==chid].index[0] # 根據chid找到該筆樣本的"idx"
        distances, indices = nbrs.kneighbors(X_pca[[idx]]) # 根據該樣本的idx找到該筆樣本的"PCA特徵"然後取得"鄰居的indices"
        chid_list = df_groupby_chid_preprocessed.loc[indices[0][-(nbrs.n_neighbors-1):]]['chid'].values.tolist() # 根據"鄰居的indices"取得"chid_list(鄰居們)"
        answer_list = [chid2answer(chid) for chid in chid_list]# 根據"chid_list"取得"answer_list"
        # 將answer_list做一維展開========
        answer_list_ = []
        for i in answer_list:
            answer_list_.extend(i)
        answer_list = answer_list_
        # 將answer_list做一維展開========
        answer_list = list(set(answer_list) - set(answer)) # 如果"answer"裡面已經有了則"去除"
        for _ in range(remain):
            if len(answer_list) != 0: #如果answer_list不等於0
                shop_tag = answer_list[0] # 從answer_list選第一個shop_tag(選第一個是因為distances比較近)
                answer.append(shop_tag) # 加入shop_tag至answer
                answer_list.remove(shop_tag) # 用過的shop_tag記得移除
            else:
                shop_tag = np.random.choice(官方指認欄位)
                answer.append(shop_tag) # 加入shop_tag至answer
        return answer

In [60]:
submit = test_data.copy().head(42)
display(submit)
answer_list = submit['chid'].progress_apply(predict_function)
answer_list = answer_list.to_frame()['chid']
for i in [0,1,2]:
    submit[f'top{i+1}'] = answer_list.apply(lambda x:x[i]).values
display(submit)

        chid  top1  top2  top3
0   10128239    18    10     6
1   10077943    48    22     6
2   10277876    22    10    39
3   10364842    37    19    13
4   10392717     2    36    26
5   10439550    22    26    18
6   10285755    12    13    36
7   10335334    26    18    48
8   10072243    15    13     6
9   10274006    22     6    39
10  10486057    13    15     2
11  10267061    22    39     6
12  10155521     6    21    39
13  10492056    13    12    15
14  10041396    13    26    37
15  10110428    13     6    39
16  10275772    19    12    22
17  10279082    12    26    37
18  10401715    10    36     2
19  10331688    18     2    39
20  10328505    37    19    36
21  10055200     2    36    15
22  10120274    21    12    19
23  10271057     6    25    12
24  10293065     2    26    25
25  10229679    15    21    48
26  10309790    48     2    37
27  10042603    48    21    39
28  10326272     6    48    15
29  10202622    21    48     6
30  10398423    19    48    15
31  10496304    36     2    15
32  10341585    25    18     6
33  10054933    36    25    39
34  10457345    39    18    37
35  10373788    21    26    37
36  10135202     6    13    39
37  10088909    18    10    19
38  10215661    37     6    39
39  10328517     6    37    13
40  10161890    12    18    15
41  10051474     2    15    18

100%|██████████| 42/42 [00:07<00:00,  5.85it/s]

        chid top1 top2 top3
0   10128239   37   25   26
1   10077943   36   15   13
2   10277876   15   10   36
3   10364842   37   10    2
4   10392717   48   15    2
5   10439550    2   48   18
6   10285755   39   15   19
7   10335334   12   36   19
8   10072243   21   48   18
9   10274006   12   48   37
10  10486057   10   13   12
11  10267061   37    6   19
12  10155521   10   37    2
13  10492056   48   13    2
14  10041396   15   36   37
15  10110428   22    2   37
16  10275772   10   37    2
17  10279082   48   26   12
18  10401715   37    2   21
19  10331688   10   21   12
20  10328505   25   48   13
21  10055200   10   15   48
22  10120274   36   12   37
23  10271057   25   37    2
24  10293065   36   48   21
25  10229679   37   21   48
26  10309790   48   10   37
27  10042603   36   37   15
28  10326272   37    6   48
29  10202622   37   15   39
30  10398423   37   12   21
31  10496304   22   15   10
32  10341585   37   15   25
33  10054933   15   37   12
34  10457345   37   10   36
35  10373788   21   26   48
36  10135202   48   10   15
37  10088909   25   15   36
38  10215661   25   36   37
39  10328517   21   37   15
40  10161890   13   15    2
41  10051474   37   26   48

In [61]:
# test ok