<a href="https://colab.research.google.com/github/skywalker0803r/ESun2021WinterGame/blob/main/Proof_of_Concept/%E5%8D%A1%E7%89%87%E6%B6%88%E8%B2%BB%E9%87%91%E9%A1%8D%E4%BD%94%E6%AF%94%E8%BD%89%E6%8F%9B%E5%87%BD%E6%95%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
data = [[0.7,0.1,0.2],[0.6,0.0,0.4]]
df = pd.DataFrame(data)
df

     0    1    2
0  0.7  0.1  0.2
1  0.6  0.0  0.4

In [52]:
df.loc['mean'] = df.mean(axis=0)
df['sum'] = df.sum(axis=1)
df

         0     1    2  sum
0     0.70  0.10  0.2  1.0
1     0.60  0.00  0.4  1.0
mean  0.65  0.05  0.3  1.0