<a href="https://colab.research.google.com/github/skywalker0803r/ESun2021WinterGame/blob/main/Proof_of_Concept/%E5%8D%A1%E7%89%87%E6%B6%88%E8%B2%BB%E6%AC%A1%E6%95%B8%E8%BD%89%E6%8F%9B%E5%87%BD%E6%95%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
data = [[7,10,13],[6,0,3]]
df = pd.DataFrame(data)
df

   0   1   2
0  7  10  13
1  6   0   3

In [45]:
def Card_consumption_conversion(df):
  df = df/df.sum(axis=1).values.reshape(-1,1)
  return df
df = Card_consumption_conversion(df)

In [46]:
df.loc['mean'] = df.mean(axis=0)
df['sum'] = df.sum(axis=1)
df

             0         1         2  sum
0     0.233333  0.333333  0.433333  1.0
1     0.666667  0.000000  0.333333  1.0
mean  0.450000  0.166667  0.383333  1.0