In [21]:
import pandas as pd
import numpy as np
from tqdm import tqdm
df = pd.read_feather('rank_data.feather')
df

,index,dt,shop_tag_15_rank,shop_tag_19_rank,shop_tag_2_rank,shop_tag_26_rank,shop_tag_34_rank,shop_tag_35_rank,shop_tag_36_rank,shop_tag_37_rank,...,shop_tag_27_rank_t-2,shop_tag_27_rank_t-3,shop_tag_27_rank_t-4,shop_tag_27_rank_t-5,shop_tag_27_rank_t-6,shop_tag_27_rank_t-7,shop_tag_27_rank_t-8,shop_tag_27_rank_t-9,shop_tag_27_rank_t-10,shop_tag_27_rank_t-11
0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,1.0,1.0,1.0,1.0,50.0,1.0,1.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3.0,1.0,1.0,1.0,1.0,50.0,1.0,1.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72019,19,20.0,49.0,1.0,50.0,1.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72020,20,21.0,45.0,43.0,49.0,1.0,NaN,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72021,21,22.0,47.0,49.0,50.0,41.0,NaN,NaN,NaN,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72022,22,23.0,49.0,1.0,50.0,41.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72023,23,24.0,45.0,43.0,50.0,1.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
col = set(df.columns) - set(df.columns[df.columns.str.contains('shop_tag')]) - set(df.columns[df.columns.str.contains('top')]) - set(['index','dt'])
col = list(col)
df[col]

,slam,poscd,gender_code,age,chid,trdtp,cuorg,naty,masts,primary_card,educd
0,95982.822967,99.0,1.0,4.0,10321418.0,5.0,30.0,1.0,1.0,1.0,4.0
1,95982.822967,99.0,1.0,4.0,10321418.0,5.0,30.0,1.0,1.0,1.0,4.0
2,95982.822967,99.0,1.0,4.0,10321418.0,5.0,30.0,1.0,1.0,1.0,4.0
3,95982.822967,99.0,1.0,4.0,10321418.0,5.0,30.0,1.0,1.0,1.0,4.0
4,95982.822967,99.0,1.0,4.0,10321418.0,5.0,30.0,1.0,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
72019,87397.101503,1.0,0.0,5.0,10158995.0,12.0,30.0,1.0,1.0,1.0,5.0
72020,87397.101503,1.0,0.0,5.0,10158995.0,12.0,30.0,1.0,1.0,1.0,5.0
72021,87397.101503,1.0,0.0,5.0,10158995.0,12.0,30.0,1.0,1.0,1.0,5.0
72022,87397.101503,1.0,0.0,5.0,10158995.0,12.0,30.0,1.0,1.0,1.0,5.0
72023,87397.101503,1.0,0.0,5.0,10158995.0,12.0,30.0,1.0,1.0,1.0,5.0

In [23]:
# 隨機取一個chid看他這幾個欄位
chid = np.random.choice(df['chid'].values)
df.loc[df.chid==chid,col]

,slam,poscd,gender_code,age,chid,trdtp,cuorg,naty,masts,primary_card,educd
22152,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22153,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22154,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22155,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22156,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22157,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22158,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22159,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22160,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22161,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22162,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22163,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22164,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22165,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22166,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22167,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22168,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22169,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22170,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22171,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22172,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22173,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22174,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0
22175,56894.810946,99.0,0.0,5.0,10128290.0,17.0,30.0,1.0,1.0,1.0,3.0

In [24]:
lst = []
# 進行1000次上面cell的實驗,並且計算是否這幾個欄位都是常數(std=0)
for _ in tqdm(range(1000)):
    chid = np.random.choice(df['chid'].values)
    results = np.allclose(df.loc[df.chid==chid,col].describe().loc['std'].sum(),0)
    lst.append(results)
lst

100%|██████████| 1000/1000 [00:18<00:00, 52.84it/s]

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [25]:
np.sum(lst)

1000

# 總結因為人通常換工作或考研究所不會特別去跟信用卡公司報備